<div class="site-footer">
  <a class="site-footer__icon icon icon-arrow-up--bold"></a>
  <div class="container site-footer__container">
    <div class="site-footer__col1">
      <a href="/" class="site-footer__brand">
        <img src="/assets/images/logo.svg" class="site-footer__logo">
      </a>
    </div>
    <div class="site-footer__col2"></div>
    <div class="site-footer__col3">
      <ul class="site-footer-nav">
        <li class="site-footer-nav__item">
          <a href="" class="site-footer-nav__link">Privacy</a>
        </li>
        <li class="site-footer-nav__item">
          <a href="" class="site-footer-nav__link" data-modal="/overlays/terms">Voorwaarden</a></li>
        <li class="site-footer-nav__item">
          <a href="" class="site-footer-nav__link">Colofon</a></li>
      </ul>
    </div>
    <div class="site-footer__col4">
      <div class="site-footer__meta">Essent &#169; 2017</div>
    </div>
  </div>
</div>
