<div class="container">
  <div class="site-menu">
    <div class="site-menu__col1">
      <a href="" class="site-menu__brand">
        <img src="assets/images/logo.svg" class="site-menu__logo">
      </a>
    </div>
    <div class="site-menu__col2"></div>
    <div class="site-menu__col3">
      <ul class="site-nav site-nav--main">
        <li class="site-nav__item">
          <a href="" class="site-nav__link active">Introductie</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Aanbod</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Abonnementen</a>
        </li>
        <li class="site-nav__item site-nav__item--toggle">
          <a href="" class="site-nav__link">+</a>
        </li>
      </ul>
    </div>
    <div class="site-menu__col4">
      <ul class="site-nav site-nav--meta">
        <li class="site-nav__item">
          <a href="" class="site-nav__link" data-modal="overlays/login">Log in</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Klus inplannen</a>
        </li>
      </ul>
    </div>
    <div class="site-menu__col5">
      <a href="" class="site-nav__link btn btn--secondary">Spoedklus</a>
    </div>
  </div>
</div>
