<div class="site-menu">
  <div class="container site-menu__container">
    <div class="site-menu__col1">
      <a href="" class="site-menu__brand">
        <img src="/assets/images/logo.svg" class="site-menu__logo">
      </a>
    </div>
    <div class="site-menu__col2"></div>
    <div class="site-menu__col3">
      <ul class="site-nav site-nav--main">
        <li class="site-nav__item">
          <a href="" class="site-nav__link active">Introductie</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Aanbod</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Abonnementen</a>
        </li>
        <li class="site-nav__item site-nav__item--toggle">
          <a href="" class="site-nav__link">
            <span class="site-nav__label">Meer </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="site-menu__col4">
      <ul class="site-nav site-nav--meta">
        <li class="site-nav__item">
          <a href="" class="site-nav__link" data-modal="/overlays/login">Log in</a>
        </li>
        <li class="site-nav__item site-nav__item--no-mobile">
          <a href="" class="site-nav__link">Klus inplannen</a>
        </li>
      </ul>
    </div>
    <div class="site-menu__col5">
      <a href="" class="btn btn--header-mobile">
        <span class="site-menu__btn-text">Spoedklus</span>
        <span class="site-menu__btn-text site-menu__btn-text--mobile">Spoed</span>
      </a>
    </div>
  </div>


  <div id="site-menu--mobile" class="site-menu site-menu--mobile">

    <div class="site-menu__btn-close"></div>
    <ul class="site-nav site-nav--main">
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Introductie</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Aanbod</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Abonnementen</a>
      </li>
    </ul>
    <ul class="site-nav site-nav--meta">
      <li class="site-nav__item">
        <a href="" class="site-nav__link" data-modal="overlays/task-details">Log in</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Klus inplannen</a>
      </li>
      <li class="site-nav__item site-nav__item-btn">
        <a href="" class="btn site-nav__btn">Spoedklus</a>
      </li>
    </ul>

    <ul class="site-nav site-nav__footer">
      <li class="site-nav__item site-nav__footer-item">
        <a href="" class="site-nav__link site-nav__footer-link">Privacy</a>
      </li>
      <li class="site-nav__item site-nav__footer-item">
        <a href="" class="site-nav__link site-nav__footer-link">Voorwaarden</a></li>
      <li class="site-nav__item site-nav__footer-item">
        <a href="" class="site-nav__link site-nav__footer-link">Colofon</a></li>
    </ul>


    <div class="site-menu__copyright">Essent &#169; 2017</div>

  </div>
</div>
