<div class="container">
  <div class="site-menu">
    <a href="" class="site-menu__brand">
      <img src="assets/images/logo.svg" class="site-menu__logo">
    </a>
    <ul class="site-nav">
      <li class="site-nav__item">
        <a href="" class="site-nav__link active">Introductie</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Aanbod</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Abonnementen</a>
      </li>
    </ul>
    <ul class="site-nav site-nav--right">
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Log in</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Spoed</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link btn btn--secondary">Klus inplannen</a>
      </li>
    </ul>
  </div>
</div>
