<!--<div class="container">-->
  <!--<div class="site-menu">-->
    <!--<a href="" class="site-menu__brand">-->
      <!--<img src="assets/images/logo.svg" class="site-menu__logo">-->
    <!--</a>-->
    <!--<ul class="site-nav">-->
      <!--<li class="site-nav__item">-->
        <!--<a href="" class="site-nav__link active">Introductie</a>-->
      <!--</li>-->
      <!--<li class="site-nav__item">-->
        <!--<a href="" class="site-nav__link">Aanbod</a>-->
      <!--</li>-->
      <!--<li class="site-nav__item">-->
        <!--<a href="" class="site-nav__link">Abonnementen</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul class="site-nav site-nav&#45;&#45;right">-->
      <!--<li class="site-nav__item">-->
        <!--<a href="" class="site-nav__link">Log in</a>-->
      <!--</li>-->
      <!--<li class="site-nav__item">-->
        <!--<a href="" class="site-nav__link">Spoed</a>-->
      <!--</li>-->
      <!--<li class="site-nav__item">-->
        <!--<a href="" class="site-nav__link btn btn&#45;&#45;secondary">Klus inplannen</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->


<div class="container">
  <div class="site-menu">
    <div class="col1">
      <a href="" class="site-menu__brand">
        <img src="assets/images/logo.svg" class="site-menu__logo">
      </a>
    </div>
    <div class="col2"></div>
    <div class="col3">
      <ul class="site-nav site-nav--main">
        <li class="site-nav__item">
          <a href="" class="site-nav__link active">Introductie</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Aanbod</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Abonnementen</a>
        </li>
        <li class="site-nav__item site-nav__item--toggle">
          <a href="/" class="site-nav__link  modal" data-toggle="site-menu--mobile">+</a>
        </li>
      </ul>
    </div>
    <div class="col4">
      <ul class="site-nav site-nav--meta">
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Log in</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Klus inplannen</a>
        </li>
      </ul>
    </div>
    <div class="col5">
      <a href="" class="btn btn--secondary">Spoedklus</a>
    </div>
  </div>
</div>



<div id="site-menu--mobile" class="site-menu site-menu--mobile">
  <ul class="site-nav site-nav--main">
    <li class="site-nav__item">
      <a href="" class="site-nav__link active">Introductie</a>
    </li>
    <li class="site-nav__item">
      <a href="" class="site-nav__link">Aanbod</a>
    </li>
    <li class="site-nav__item">
      <a href="" class="site-nav__link">Abonnementen</a>
    </li>
    <li class="site-nav__item">
      <a href="" class="site-nav__link">Log in</a>
    </li>
    <li class="site-nav__item">
      <a href="" class="site-nav__link">Klus inplannen</a>
    </li>
    <li class="site-nav__item site-nav__item--toggle">
      <a href="" class="btn btn--secondary">Spoedklus</a>
    </li>
  </ul>

</div>
