<div class="photo-upload">
  <div class="photo-upload__container">
    <label for="photo" class="photo-upload__dropzone">
      <input type="file" id="photo" name="photo" class="photo-upload__input" />
      <span class="photo-upload__dropzone-content">
        <span class="photo-upload__dropzone-icons">
          <i class="icon-camera"></i>
          <i class="icon-picture"></i>
        </span>
        <span class="hidden-md-down">Sleep je foto's hierheen om te uploaden <br />of</span> <u>selecteer een bestand</u>
      </span>
    </label>
  </div>
  <div class="photo-upload__status">
    <div class="photo-upload__status-content">
      <p class="photo-upload__message">Bezig met uploaden...</p>
      <div class="photo-upload__progress-bar">
        <div class="photo-upload__progress-bar-inner"></div>
      </div>
    </div>
  </div>
</div>
