<div class="subscription-container">

  <div class="block-subscription block-subscription--secondary">
    <div class="block-subscription__content">
      <h6 class="block-subscription__title block-subscription__title--secondary">Premium pakket</h6>
      <p class="block-subscription__subtitle">Alleen voor Essent klanten</p>
      <div class="block-subscription__price block-subscription__price--secondary">€12,- <span class="block-subscription__meta">/ per jaar</span></div>

      <ul class="block-subscription__items">
        <li class="block-subscription__item">Eerste 12 maanden gratis</li>
        <li class="block-subscription__item">10% korting op reguliere klussen</li>
        <li class="block-subscription__item">Inplannen van spoedklussen, 24h bereikbaar en service binnen een
          uur
        </li>
        <li class="block-subscription__item">Maandelijks opzegbaar</li>
      </ul>
    </div>
    <a href="" class="btn btn--border">NU PROBEREN</a>

  </div>

  <div class="block-subscription">
    <div class="block-subscription__content">
      <h6 class="block-subscription__title">Basis pakket</h6>
      <p class="block-subscription__subtitle">Toegangkelijk voor iedereen</p>
      <div class="block-subscription__price">Gratis</div>

      <ul class="block-subscription__items">
        <li class="block-subscription__item">Marktconforme prijs</li>
        <li class="block-subscription__item">Inplannen van reguliere klussen</li>
        <li class="block-subscription__item">Altijd een betrouwbare expert</li>
      </ul>
    </div>
    <a href="" class="btn btn--border"> NU PROBEREN</a>

  </div>
</div>
