<div class="block block--alternative">
  <h6 class="block__title">Dit is ZoOpgelost</h6>
  <ul class="list list--check block__list">
    <li>Altijd een expert over de vloer</li>
    <li>Eerlijke en marktconforme prijs</li>
    <li>Garantie op de uitvoering</li>
  </ul>
  <hr class="block__divider" />
  <div class="block__footer">
    <h5 class="block__subtitle">Spoedklus?</h5>
    <p>
      Premium klanten kunnen ons 24/7 bellen als de nood hoog is.<br />
      <a href="/spoedgevallen" class="link">Meer over spoedklussen</a>
    </p>
  </div>
</div>

