{
  "parser": "babel-eslint",
  "plugins": [],
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true
    }
  }
}


