# Logs
logs
*.log
.
# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Build files
dist

# IDE files
.idea

.env

*.lock
package-lock.json


.DS_Store

upload
uploads

sessions.db
sessions
