<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">

    body {
      font-family: Arial, sans-serif;
      padding:0;
      margin: 0;
      background-color:#F2F2F2;
    }
    .table-main {
      width: 100%;
      max-width: 700px;
      background-color: #fff;
      text-align: center;
    }
    .table-footer {
      width: 100%;
      max-width: 700px;
      padding: 0;
      margin: 0;
      border-top: 1px solid #d2d2d2;
      background-color: #fff;
    }

    h1 {
      font-size: 30px;
      font-weight: normal;
    }
    p {
      font-family: Arial, sans-serif;
      font-size:16px;
      line-height:26px;
      text-align:center;
    }
    .empty-row {
      width: 150px;
      height: 150px;
      font-size:0;
      line-height:0;
    }
    .empty-cell {
      width:30px;
      height:30px;
      font-size:0;
      line-height:0;
      padding: 0;
    }
    .empty-cell-small {
      width:20px;
      height:20px;
      font-size:0;
      line-height:0;
      padding: 0;
    }
    .btn {
      display: inline-block;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      width: 230px;
      background-color:#ff7400;
      color:#fff;
      font-weight:bold;
      text-decoration: none;
    }
    .link {
      font-family: Arial, sans-serif;
      font-size:16px;
      line-height:26px;
      text-align:center;
      text-decoration: underline;
      color:#ff7400;
    }

    .logo {
      width: 70px;
      height:40px;
      padding:0;
    }
    .subtitle {
      color: #e60167;
      font-size: 30px;
      line-height: 33px;
      font-weight: normal;
    }
    .appointment-details {
      text-align: left;
    }

    li {
      font-size: 16px;
      line-height: 26px;
    }
    .text-bold {
      font-size: 16px;
      line-height: 26px;
      margin: 0;
      padding: 0;
    }
    .list {
      list-style: none;
      padding: 0;
    }

  </style>
</head>
<body>
<center>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
    <tr>
      <td class="empty-row"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
    </tr>
    <tr>
      <td align="center" valign="top">
        <table class="table-main">
          <tr>
            <td class="empty-cell"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
          </tr>
          <tr>
            <td class="empty-cell"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
            <td>

              <%- body %>

            </td>
            <td class="empty-cell"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
          </tr>
          <tr>
            <td class="empty-cell"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
          </tr>
        </table>

        <table class="table-footer">
          <tr>
            <td class="empty-cell-small"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
          </tr>
          <tr>
            <td class="empty-cell"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
            <td>
              <img src="https://static.essent.nl/online/img/logo-essent.png" alt="" class="logo">
            </td>
            <td align="right">
              Essent © 2017
            </td>
            <td class="empty-cell"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
          </tr>
          <tr>
            <td class="empty-cell-small"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td class="empty-row"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></td>
    </tr>
  </table>
</center>
</body>
</html>
