<div class="sidebar">
  <div class="sidebar__header sidebar__header--alternative">
    <div class="well well--receipt well--receipt-alternative">
      <h6 class="well__title">Premium pakket</h6>
      <p class="well__row">Proefversie - nog 30 dagen beschikbaar</p>
    </div>
  </div>
  <div class="sidebar__content">
    <div class="block block--alternative">
      <h6 class="block__subtitle">Persoonlijke gegevens</h6>
      <ul class="list list--secondary">
        <li>Gerard Verhagen</li>
        <li>Gerardv@gmail.com</li>
        <li>06 123 412 34</li>
        <li>NL RABO 0123 4567 89</li>
      </ul>
      <h6 class="block__subtitle">Adres & woonplaats</h6>
      <ul class="list list--secondary">
        <li>Straatjesstraat 26 bis</li>
        <li>1234 AB Amsterdam</li>
      </ul>
      <a href="" class="block__link">Wijzig</a>
    </div>
  </div>
</div>
