<div class="sidebar sidebar--details">
  <div class="sidebar__header">
    <h6 class="sidebar__title">Premium pakket</h6>
    <p>
      Proefversie - nog 30 dagen beschikbaar
    </p>
  </div>
  <div class="sidebar__content">
    <h6 class="sidebar__subtitle">Persoonlijke gegevens</h6>
    <ul class="list list--secondary">
      <li>Gerard Verhagen</li>
      <li>Gerardv@gmail.com</li>
      <li>06 123 412 34</li>
      <li>NL RABO 0123 4567 89</li>
    </ul>
    <h6 class="sidebar__subtitle">Adres & woonplaats</h6>
    <ul class="list list--secondary">
      <li>Straatjesstraat 26 bis</li>
      <li>1234 AB Amsterdam</li>
    </ul>
    <a href="" class="sidebar__content-link">Wijzig</a>
  </div>
</div>

