<div class="sidebar-promotion">
  <h6 class="sidebar-promotion__header">Dit is ZoOpgelost</h6>
  <ul class="sidebar-promotion__list">
    <li class="sidebar-promotion__list-item">Altijd een betrouwbare expert</li>
    <li class="sidebar-promotion__list-item">Eerlijk en marktconforme prijs</li>
    <li class="sidebar-promotion__list-item">Garantie op de uitvoering</li>
  </ul>
  <hr class="sidebar-promotion__divider" />
  <div class="sidebar-promotion__footer">
    <h5>Spoedje?</h5>
    <p>
      Als Premium-lid kun je ook spoedklussen inplannen.<br />
      <a href="">Lees meer</a>
    </p>
  </div>
</div>

