<div class="block block--alternative">
  <h6 class="block__title">Dit is ZoOpgelost</h6>
  <ul class="list list--check block__list">
    <li>Altijd een betrouwbare expert</li>
    <li>Eerlijk en marktconforme prijs</li>
    <li>Garantie op de uitvoering</li>
  </ul>
  <hr class="block__divider" />
  <div class="block__footer">
    <h5 class="block__subtitle">Spoedje?</h5>
    <p>
      Als Premium-lid kun je ook spoedklussen inplannen.<br />
      <a href="/spoedgevallen" class="link">Lees meer</a>
    </p>
  </div>
</div>

