<div class="block block--alternative">
  <h6 class="block__title">Dit is ZoOpgelost</h6>
  <ul class="list list--check block__list">
    <li>Altijd een expert over de vloer</li>
    <li>Eerlijke en marktconforme prijs</li>
    <li>Garantie op de uitvoering</li>
  </ul>
</div>

