<div class="sidebar-promotion">
  <h6 class="sidebar-promotion__title">Dit is ZoOpgelost</h6>
  <ul class="list list--check sidebar-promotion__list">
    <li>Altijd een betrouwbare expert</li>
    <li>Eerlijk en marktconforme prijs</li>
    <li>Garantie op de uitvoering</li>
  </ul>
  <hr class="sidebar-promotion__divider" />
  <div class="sidebar-promotion__footer">
    <h5 class="sidebar-promotion__subtitle">Spoedje?</h5>
    <p>
      Als Premium-lid kun je ook spoedklussen inplannen.<br />
      <a href="#">Lees meer</a>
    </p>
  </div>
</div>

