<div class="receipt receipt--alternative">
  <h6 class="receipt__header">Jouw klusafspraak</h6>
  <a href="" class="receipt__link">Wijzig</a>
  <p class="receipt__row">
    Router Installeren

    <span class="receipt__row-cost">
      €50,-
    </span>
  </p>
</div>
