<div class="receipt">
  <h6 class="receipt__header">Jouw klusafspraak</h6>
  <p class="receipt__row">
    Router Installeren

    <span class="receipt__row-cost">
      €50,-
    </span>
  </p>
</div>
