<div class="well well--receipt">
  <h6 class="well__header">Jouw klusafspraak</h6>
  <p class="well__row">
    Router Installeren

    <span class="well__row-cost">
      €50,-
    </span>
  </p>
</div>
