.block
{
  width: 384px;
  height: 300px;
  display: inline-block;
  border: 1px solid $col-grey-lighter;
  background-color: $col-white;
  padding: 20px;
  margin: 8px;
  box-sizing: border-box;
  &__wide
  {
    display: inline-block;
    width: 786px;
    height: 300px;
    background-color: $col-white;
    border: 1px solid #D2D2D2;
    padding: 20px;
    margin: 8px;
    box-sizing: border-box;
    &--left
    {
      display: inline-block;
      width: 380px;
    }
    &--right
    {

      display: inline-block;
    }
  }
  &__heading
  {
    position: relative;
    font-family: Lato-Black;
    font-size: 19px;
    color: $col-black;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;

    &:after
    {
      content: ' ';
      position: absolute;
      width: 30px;
      height: 1px;
      bottom: 0px;
      left: 10px;
      background: $col-black;
      color: $col-black;
      margin-top: 25px;
    }
  }
  &__link
  {
    //display: inline-block;
    font-family: Lato-Light;
    line-height: 26px;
    cursor: pointer;
    padding-left: 10px;
    &:hover,
    &:active
    {
      color: $col-orange;
    }
  }
}
