.breadcrumbs {


  &__item {
    display: inline;
    font-weight: 400;
    &+&:before {
      padding: 8px;
      color: $col-black;
      content: "\003e";
    }
    &.is-active ~ &{
      font-weight: 300;
    }
  }
  &__link {
    color: inherit;
  }
}


@media #{$tablet} {

}

@media #{$mobile} {

  .breadcrumbs {

    &__item {
      &.is-active {
        .breadcrumbs__text {
          display: inline-block;
        }
      }
    }
    &__text {
      display: none;
    }
  }

}

