.btn {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  border-width: 0 0 2px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-color: $col-orange-dark;
  border-style: solid;
  background-color: $col-orange;
  color: $col-white;
  text-transform: uppercase;
  vertical-align: middle;
  &:hover {
    background: $col-orange;
    border-top-color: $col-orange;
    border-width: 1px 0 1px;
    color: $col-white;
  }
  &--secondary {
    background-color: $col-white;
    color: $col-orange;
  }
  &--cancel {
    background-color: red;
    border-color: red;
    &:hover {
      background: $col-red;
    }
  }
  &--modal {
    width: 100%;
    border-color: black;
    border-width: 0 0 2px;
    cursor: pointer;
    display: block;
    &-ribbon {
      border: 0;
      border-radius: 0;
      &:hover {
        border-width: 0;
      }
    }
  }
  &--link {
    border: 0;
    background-color: transparent;
    color: $col-orange;
    position: relative;
    @include icon(arrow-left--bold, before, false);
    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      font-size: 12px;
    }
    &:hover {
      border-color: transparent;
      background-color: transparent;
      color: $col-red;
    }
  }
  &--border {
    background-color: transparent;
    color: $col-orange;
    border: 1px solid $col-orange;
    padding: 0;
    font-weight: 400;
  }
}



@media #{$tablet} {}
@media #{$mobile} {
  .btn {
    &--block {
      display: block;
      text-align: center;
    }
  }
}
