.datepicker-info {
  flex: 1;
  border: 1px solid $col-pink;
  padding: 30px;
  line-height: 25px;
  text-align: center;
  color: $col-pink;
  margin-top: 30px;
  &.is-hidden
  {
    display: none;
  }
}

.datepicker {
  box-sizing: border-box;
  padding: 30px 30px;
  border: 1px solid $col-black;
  transition: opacity 0.25s ease-in-out;

  &.is-disabled
  {
    opacity: 0.25;
    pointer-events: none;
  }
}

.ui-datepicker {

  &-header {
    display: flex;
  }
  &-prev {
    order: 1;
    color: $col-grey;
    @include icon(arrow-left--small, before, false);
    &:before
    {
      left: 0;
    }
    &:hover {
      color: $col-black;
    }
  }

  &-next {
    order: 3;
    @include icon(arrow-right--small, before, false);
    &:before
    {
      right: 0;
    }
  }
  &-prev, &-next {
    cursor: pointer;
    position: relative;


    &:before
    {
      position: absolute;
      top: 0;
      font-size: 16px;
    }
  }
  &-title {
    order: 2;
    flex: 1;
    margin-bottom: 15px;
  }

  & table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px 15px;
    & tr {

    }
    & td, & th {
      text-align: center;
      width: 44px;
      height: 44px;
      vertical-align: middle;
      color: $col-black;
      background-color: $col-grey-light;
      border-radius: 5px;
    }
    & td {
      font-size: 12px;
      &.ui-state-disabled {
        color: $col-grey;
      }
      a {
        cursor: pointer;
        text-decoration: none;
        color: $col-black;
        display: block;
        line-height: 44px;
        height: 100%;
        border-radius: 5px;
        &.ui-state-hover {
          background-color: $col-orange;
          color: $col-white;
        }

      }
      &.ui-datepicker-current-day {
        a {
          background-color: $col-orange;
          color: $col-white;
        }
      }

    }
  }

}

.ui-datepicker table {

}

.ui-datepicker-prev {
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}

@media #{$tablet} {
  .datepicker__row {
    flex-direction: column;
  }
  .datepicker {
    &__col2 {
      margin: 0;
    }
  }
}

@media #{$mobile} {
  #datepicker {
    width: 100%;
    padding: 15px;
  }
  .datepicker__row {
    flex-direction: column;
  }
  .datepicker {
    &__col2 {
      margin: 0;
    }
  }

  .ui-datepicker {

    & table {

      & td, & th {
        width: 37px;
        height: 37px;
      }
      & td {

        a {
          line-height: 37px;
        }

      }
    }
  }
}

