.emergency
{
  margin-top: 100px;
  &__title
  {
    font-weight: 300;
    font-size: 30px;
    color: $col-pink;
    margin-bottom: 20px;
  }
  &__items
  {
    list-style: disc;
    column-count: 2;
    margin-bottom: 40px;
    li
    {
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
  &__info
  {
    background-color: $col-pink;
    color: $col-white;
    position: relative;
    padding: 20px 20px 22px 90px;
  }
  &__image
  {
    position: absolute;
    font-size: 36px;
    left: 5%;
    top: 15%;
    transform: translate( 5%, 50%)
  }
  &__buttons
  {
    margin-top: 40px;
  }
}

@media #{$tablet} {

}

@media #{$mobile} {
  .emergency {
    &__items
    {
      column-count: 1;
    }
    &__info
    {
      padding: 86px 24px 34px 24px;
      text-align: center;
    }
    &__image
    {
      position: absolute;
      left: 40%;
      top: 5%;
      transform: translate( 50%, 50%)
    }
  }
}
