/// flexbox to parent & display block, flex wrap, 50% width and 100% width, give blocks a margin,

.job-list
{
  display: flex;
  flex-wrap: wrap;
  background-color: $col-white;
  &__normal
  {
    width: calc(50% - 12px);
    border: 1px solid $col-grey-lighter;
    box-sizing: border-box;
    margin: 6px;
  }
  &__wide
  {
    width: calc(100% - 12px);
    border: 1px solid $col-grey-lighter;
    box-sizing: border-box;
    margin: 6px;
    &--list
    {
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
    }
  }
  &__normal,
  &__wide
  {
    padding: 20px;
      &:hover
      {
        box-shadow: 0 8px 15px 0 rgba(0,0,0,0.15);
      }
  }
  &__heading
  {
    position: relative;
    font-family: Lato-Black;
    font-size: 19px;
    color: $col-black;
    padding: 0 10px;
    &:after
    {
      content: ' ';
      position: absolute;
      height: 1px;
      width: 30px;
      bottom: 0px;
      left: 10px;
      margin-top: 25px;
      background: $col-black;
      color: $col-black;

    }
  }
  &__links
  {
    padding: 20px 0;
  }
  &__links-item
  {
    font-family: Lato-Light;
    line-height: 26px;
    cursor: pointer;
    padding-left: 10px;
    &:hover,
    &:active
    {
      color: $col-orange;
    }
    &:active
    {
      text-decoration: underline;
    }
  }
}
