.job-overview
{
  display: flex;
  flex-wrap: wrap;
  background-color: $col-white;
  &__column
  {
    width: calc(50% - 12px);
    border: 1px solid $col-grey-lighter;
    box-sizing: border-box;
    margin: 6px;
    padding: 20px;

    &:hover
    {
      box-shadow: 0 8px 15px 0 rgba(0,0,0,0.15);
    }

    &--wide
    {
      width: calc(100% - 12px);
    }
  }

  &__title
  {
    position: relative;
    font-weight: 900;
    font-size: 19px;
    color: $col-black;
    &:after
    {
      content: ' ';
      position: absolute;
      height: 1px;
      width: 30px;
      bottom: 0;
      left: 0;
      background: $col-black;
    }
  }
  &__links
  {
    margin-top: 20px;

    &--wide
    {
      column-count: 2;
      column-gap: 20px;
    }
  }
  &__links-item
  {
    font-weight: 300;
    line-height: 26px;
    cursor: pointer;

    &:hover,
    &:active
    {
      color: $col-orange;
    }
    &:active
    {
      text-decoration: underline;
    }
  }
}

@media #{$mobile}
{
  .job-overview
  {
    &__column
    {
      width: calc(100% - 12px);
    }
    &__links
    {
      margin-top: 20px;

      &--wide
      {
        column-count: 1;
        column-gap: 20px;
      }
    }
  }
}
