.overview-intro
{
  font-weight: 300;
  &__container
  {
    width: (100%/8)*6;
    box-sizing: content-box;
    margin-top: 100px;
    margin-left: 6px;
    margin-bottom: 200px;
  }
  &__title
  {
    font-size: 48px;
  }
  &__info
  {
    font-family: Lato-Light;
    font-size: 19px;
    color: #000000;
    letter-spacing: 0;
    line-height: 29px;
  }
  &__link
  {
    color: $col-orange;
    cursor: pointer;
    &:hover
    {
      text-decoration: underline;
    }
  }
}

@media #{$tablet}
{
  .overview-intro
  {
    &__container
    {
      width: (100%/8)*4;
    }
  }
}

@media #{$mobile}
{
  .overview-intro
  {
    font-size: 17px;
    &__container
    {
      width: 100%;
      margin-top: 252px;
      margin-bottom: 100px;
    }
    &__title
    {
      font-size: 26px;
    }
  }
}


