.receipt
{
  background-color: #E60167;
  padding: 30px;
  padding-top: 20px;
  &__header
  {
    font-family: Lato-Black;
    font-size: 19px;
    color: #FFFFFF;
    &:after
    {
      content: ' ';
      background-color: #FFFFFF;
      height: 1px;
      display: block;
      width: 30px;
      margin-top: 6px;
      margin-bottom: 19px;
    }
  }
  &__total
  {
    display: inline-block;
    font-family: Lato-Regular;
    font-size: 16px;
    color: #FFFFFF;
    &--price
    {
      float: right;
    }
  }
}
