.receipt
{
  background-color: $col-pink;
  color: $col-white;
  padding: 20px 30px 30px;
  margin-bottom: 15px;
  position: relative;

  &__header
  {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
    &:after
    {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 20px;
      height: 1px;
      background: $col-white;
    }
  }
  &__row
  {
    position: relative;
    &-cost
    {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__link {
    color: $col-white;
    text-decoration: underline;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
  }
}


@media #{$tablet} {
  .receipt {
    &--alternative {
      padding-bottom: 60px;
    }
    &__link {
      top: auto;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 20px 30px 30px;
    }
  }
}
