.sidebar-promotion
{
  margin-top: 15px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
  padding: 30px;
  &__heading
  {
    font-family: Lato-Bold;
    font-size: 20px;
    color: #000000;
    line-height: 25px;
    padding-bottom: 10px;
  }
  &__list
  {
    font-family: Lato-Regular;
    font-size: 16px;
    color: #000000;
    & li
    {
      position: relative;
      padding: 10px;
      &:before
      {
        position: absolute;
        content: 'v';
      }
    }

  }
  &__footer
  {
    border-top: 1px solid $col-grey;
    font-size: 16px;
    color: $col-black;
    &--heading
    {
      font-weight: bold;
    }
    &--read-more
    {
      color: #FF7400;
    }
  }
}
