.time-list {
  &__item {
    display: inline-block;
    padding: 0 20px 20px 0;
  }
  &__link {
    display: block;
    box-sizing: border-box;
    min-width: 130px;
    text-align: center;
    border: 1px solid $col-grey;
    color: $col-grey;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    &.is-selected,
    &.is-active:hover {
      background-color: $col-orange;
      color: $col-white;
      border-color: $col-orange;
    }
    &.is-active {
      background-color: $col-white;
      color: $col-orange;
      border-color: $col-orange;
    }
  }
}

@media #{$tablet} {

  .time-list {
    &__item {
      padding: 0 10px 20px 0;
    }
  }
}
@media #{$mobile} {
  .time-list {
    &__item {
      padding: 0;
      margin: 0 10px 15px 0;
      box-sizing: border-box;
    }
  }
}
