<div class="modal modal--appointment-edit-err" id="modal">
  <div class="modal__container modal__container--auto">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Afspraak annuleren</h2>
    </div>
    <div class="modal__content">
      <div>
        <p class="modal__text">Sorry, deze klus binnen zo’n korte tijd dat online annuleren niet meer kan.</p>
        <p class="modal__text modal__text--no-margin">Telefonisch kun je mogelijk nog wel annuleren. Bel daarvoor <span class="bold-text">0800-1234-1234</span>.
        </p>
      </div>
    </div>
  </div>
</div>
