<div class="modal" id="modal">
  <div class="modal__container modal__container--auto">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Colofon</h2>
    </div>
    <div class="modal__content">
      <p>ZoOpgelost met bijbehorende website is eigendom van Essent.</p>
      <p>
        Essent Retail Energie B.V.<br />
        Willemsplein 4<br />
        5211 AK ’s-Hertogenbosch<br />
        KVK-nummer: 13041611<br />
        BTW-nummer: NL807370447B01<br />
      </p>
      <p>Voor de dienstverlening van de opdrachten werkt Essent samen met MainPlus.</p>
      <p>
        MainPlus<br />
        Laan van Vredenoord 15<br />
        2289 DA Rijswijk<br />
        KVK-nummer 52027252<br />
        BTW-nummer NL850268825B01<br />
      </p>
      <p>
        MainPlus doet (*&(*&(*& (input nodig van MP)
      </p>
      <h3>Intellectueel eigendom</h3>
      <p>Alle inhoud en materialen, inclusief auteursrechten, op de website zijn eigendom van Essent. Dit geldt ook voor de vormgeving, huisstijl, logo’s, teksten, grafische weergaven, knoppen, video’s en ander materiaal (zonder beperking). U mag deze nooit gebruiken voor commerciële of openbare doeleinden zonder voorafgaande toestemming van Essent.</p>
      <p>U mag de informatie op onze website gebruiken voor privédoeleinden, bijvoorbeeld voor een werkstuk of priveblog. Vermeld dan wel dat u de informatie heeft gevonden op www.zoopgelost.essent.nl</p>

      <h3>Aansprakelijkheid</h3>
      <p>De op de site getoonde informatie wordt door Essent met zorg samengesteld, doch voor de juistheid en volledigheid daarvan kan niet worden ingestaan.</p>
      <p>
        Er wordt geen enkele garantie of verklaring gegeven, noch uitdrukkelijk noch stilzwijgend, inzake de redelijkheid, juistheid of volledigheid van de informatie welke op de site wordt gepubliceerd of waartoe via de site toegang toe wordt geboden.
        Iedere aansprakelijkheid voor eventuele schade ten gevolge van toegang tot en gebruik van de site, wordt door Essent uitdrukkelijk afgewezen. Er wordt geen garantie geboden voor het foutloos en ononderbroken functioneren van de sites.
      </p>

    </div>
  </div>
</div>
