<div class="modal modal--psw-forgotten">
  <div class="modal__container">
      <div class="modal__header">
        <span class="modal__btn-close"></span>
        <h2 class="modal__title">Wachtwoord vergeten</h2>
      </div>
      <div class="modal__content">
        <p class="modal__text">We hebben zojuist een e-mail gestuurd naar “TODO add email” waarmee je je wachtwoord kunt veranderen.
        </p>
        <div class="modal-form__footer modal-form__footer--cols">
          <form>
            <div class="modal-form__col">
              <button href="#" class="btn btn--modal">Terug naar inloggen</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
