<div class="modal modal--psw-forgotten">
  <div class="modal__container">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Wachtwoord vergeten</h2>
    </div>
    <div class="modal__content">
      <p class="modal__text">Na het verzenden van je e-mailadres ontvang je daarop instructies voor het veranderen van
        je wachtwoord.
      </p>
      <form action="" class="form modal-form modal-form--short js-form--forgot-password">
        <div class="modal-form__body">
          <div class="form__group form__group--short">
            <label for="email" class="form__label">E-mailadres</label>
            <input type="email" name="email" id="form__email" class="form__control" placeholder="mail@emailadres.com" autofocus required/>
          </div>
        </div>

        <div class="modal-form__footer modal-form__footer--cols">
          <div class="modal-form__col">
            <button class="btn btn--modal" type="submit">Verzenden</button>
          </div>
          <div class="modal-form__col form__group">
            <a href="#" class="modal-form__link" data-modal="login">Terug naar inloggen</a>
          </div>
        </div>
      </form>
    </div>
    <div class="modal__footer">
      <div class="modal__text modal__text--secondary">
        <p class="">Nog geen account?
          <a href="" class="form__link form__link--secondary">Maak een account aan</a>
        </p>
      </div>
    </div>
  </div>
</div>
