<div class="modal modal--psw-new">
  <div class="modal__container">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Nieuw wachtwoord</h2>
    </div>
    <div class="modal__content">
      <p class="modal__text">Kies een nieuw wachtwoord voor je account.</p>
      <form action="" class="form modal-form modal-form--short">
        <div class="modal-form__body">
          <div class="form__group form__group--short">
            <label for="password" class="form__label">
              Nieuw wachtwoord
            </label>
            <input type="password" class="form__control" placeholder="Tenminste 6 tekens" required/>
          </div>
          <div class="form__group">
            <label for="password" class="form__label">
              Controle
            </label>
            <input type="password" class="form__control" placeholder="Herhaal wachtwoord" required/>
          </div>
        </div>

        <div class="modal-form__footer modal-form__footer--secondary">
          <button class="btn btn--modal" type="submit">WACHTWOORD OPSLAAN</button>
        </div>
      </form>
    </div>
  </div>
</div>
