<div class="modal modal--activate-login">
  <div class="modal__container">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Activatie mail verstuurd</h2>
    </div>
    <div class="modal__content">
      <div>
        <p class="modal__text">We hebben nogmaals een bevestigings-e-mail gestuurd naar <span class="bold-text">john@mail.com</span>
        </p>
        <p class="modal__text">Volg de instructies in die e-mail om je account te activeren. Na het activeren kun je
          inloggen.</p>
      </div>
    </div>
    <div class="modal__footer">
      <button class="btn btn--modal" type="submit">Inloggen</button>
    </div>
  </div>
</div>
