<div class="modal" id="modal">
  <div class="modal__container modal__container--login">
    <div class="modal__header">
      <span class="modal__btn-close">x</span>
      <h2 class="modal__title">Log in</h2>
    </div>
    <div class="modal__content">

      <form action="" class="form  modal-form">
        <div class="modal-form__body">
          <div class="form__group">
            <label for="email" class="form__label">Gebruikersnaam</label>
            <input type="email" class="form__control" placeholder="mail@emailadres.com" required/>
          </div>

          <div class="form__group">
            <label for="password" class="form__label">
              Wachtwoord
              <a href="" class="form__link">Wachtwoord vergeten</a>
            </label>
            <input type="password" class="form__control" placeholder="&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;" required/>
            <div class="form__msg">
              Combinatie werd niet herkend. Probeer opnieuw.
            </div>
          </div>
          <div class="form__group">
            <p class="form__text">Nog geen account?
              <a href="" class="form__link form__link--secondary">Maak een account aan</a>
            </p>
          </div>
        </div>
        <div class="modal-form__footer">
          <button class="btn btn--modal" type="submit">Inloggen</button>
        </div>
      </form>
    </div>
    <div class="modal__footer">

    </div>
  </div>
</div>
