<div class="modal" id="modal">
  <div class="modal__container modal__container--login">
    <div class="modal__header">
      <a href="#" class="modal__btn-close"></a>
      <h2 class="modal__title">Log in</h2>
    </div>
    <div class="modal__content">

      <form action="" class="form modal-form js-form--login">
        <div class="modal-form__body">
          <div class="form__group">
            <label for="form__username" class="form__label">Gebruikersnaam</label>
            <input type="email" name="username" id="form__username" class="form__control" placeholder="mail@emailadres.com" tabindex="1" autofocus />
          </div>

          <div class="form__group">
            <label for="form__password" class="form__label">
              Wachtwoord
              <a href="#" class="form__link" data-modal="forgot-password">Wachtwoord vergeten</a>
            </label>
            <input type="password" name="password" id="form__password" class="form__control" placeholder="&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;" tabindex="2" />
            <div class="form__error">
              Combinatie werd niet herkend. Probeer opnieuw.
            </div>
          </div>
          <div class="form__group">
            <p class="form__text">Nog geen account?
              <a href="/account/inschrijven" class="form__link form__link--secondary" tabindex="4">Maak een account aan</a>
            </p>
          </div>
        </div>
        <div class="modal-form__footer">
          <button class="btn btn--modal" type="submit" tabindex="3">Inloggen</button>
        </div>
      </form>
    </div>
  </div>
</div>
