<div class="modal modal--appointment-cancel" id="modal">
  <div class="modal__container modal__container--auto">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Afspraak annuleren</h2>
    </div>
    <div class="modal__content">
      <p class="modal__text">
        Omdat deze klus binnen minder dan 24 uur is gepland, kun je alleen tegen vergoeding de afspraak annuleren. Een annulering kun je niet ongedaan maken.
        Hiervoor ontvang je een factuur via e-mail. <br />
        Wijzigen kunt u doen door uw huidige opdracht te annuleren en een nieuwe opdracht in te voeren.
      </p>
      <form action="/api/order/cancel" method="POST" class="form modal-form form--order-cancel">
        <input type="hidden" name="IdOrder" value="<%- order.IdOrder %>" />
        <div class="modal-form__body">
          <div class="form__group form__group--flex">
            <input type="checkbox" class="form__control" name="IsConfirmed" />
            <label for="checkbox">Ik ga akkoord met het betalen van een vergoeding (van € 25,-) voor het annuleren van deze klusafspraak</label>
          </div>
        </div>
        <div class="modal-form__footer modal-form__footer--secondary">
          <button class="btn btn--cancel btn--modal" type="submit">Annuleer deze klus</button>
        </div>
      </form>
    </div>
  </div>
</div>
