<div class="modal" id="modal">
  <div class="modal__container modal__container--auto">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Privacy</h2>
    </div>
    <div class="modal__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, blanditiis corporis ea eligendi, eos expedita facilis iusto molestias nam neque non perferendis praesentium quam quas qui recusandae saepe ullam veniam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, blanditiis corporis ea eligendi, eos expedita facilis iusto molestias nam neque non perferendis praesentium quam quas qui recusandae saepe ullam veniam?</p>
    </div>
  </div>
</div>
