<div class="modal modal--task-detail" id="modal">
  <div class="modal__container modal__container--task-detail">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Klusdetails</h2>
    </div>
    <div class="modal__content">

        <p class="modal__text modal__text--bold">Bereik netwerk optimaliseren/ Wifi bereik uitbreiden</p>
        <div class="modal__info">
          <div class="modal__col">
            <div class="modal__info-title">€ 50,-</div>
            <div class="modal__info-label">Normale prijs</div>
          </div>
          <div class="modal__col modal__col--secondary">
            <div class="modal__info-title">€ 45,-</div>
            <div class="modal__info-label">Voor Premium-leden</div>
          </div>
        </div>
        <div class="modal__rows">
          <div class="modal__row">
            <p class="modal__row-title">Wat doen we:</p>
            <p class="modal__row-content">Router herinstalleren</p>
          </div>
          <div class="modal__row">
            <p class="modal__row-title">Wat doen we:</p>
            <p class="modal__row-content">Router herinstalleren</p>
          </div>
          <div class="modal__row">
            <p class="modal__row-title">Wat doen we:</p>
            <p class="modal__row-content">Router herinstalleren</p>
          </div>
          <div class="modal__row">
            <p class="modal__row-title">Wat doen we:</p>
            <p class="modal__row-content">Router herinstalleren</p>
          </div>
        </div>
    </div>
    <div class="modal__footer modal__footer--full">
      <button class="btn btn--modal btn--modal-ribbon" type="submit">KIES DEZE KLUS</button>
    </div>
  </div>
</div>
