<div class="modal" id="modal">
  <div class="modal__container modal__container--auto">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Abonnements &amp; actievoorwaarden</h2>
    </div>
    <div class="modal__content">
      <p>ZoOpgelost is een dienst van Essent Retail Energie BV (Essent), Willemsplein 4, 5211 AK te ’s-Hertogenbosch, KVK 13041611 BTW NL 807370447B01, in samenwerking met MainPlus.</p>
      <p>Op deze dienst zijn de volgende (actie)voorwaarden van toepassing:</p>

      <h3>Voorwaarden abonnement ZoOpgelost</h3>
      <ul class="list list--disc">
        <li>Alle ZoOpgelost abonnementen betreffen een abonnement voor onbepaalde tijd.</li>
        <li>Alle ZoOpgelost abonnementen kunnen maandelijks worden opgezegd.</li>
        <li>Het Zo Opgelost Basis abonnement kan ook door niet klanten van Essent worden afgesloten.</li>
        <li>De dienst(verlening) kan alleen geleverd worden op het woonadres van abonnee.</li>
        <li>Indien u een reguliere en/of spoedklus bestelt via ZoOpgelost dan bestelt u deze bij onze kluspartner MainPlus tegen de algemene voorwaarden van Mainplus. De uitgevoerde werkzaamheden dienen met MainPlus afgerekend te worden.</li>
        <li>Voor de voorwaarden voor de uitvoering van de spoeddiensten en reguliere klussen verwijzen we naar de voorwaarden van onze partner MainPlus (link naar voorwaarden toevoegen).</li>
        <li>Opzeggen kan door in het online account het vinkje bij het abonnement uit te vinken of door contact op te nemen via het contactformulier en hierin te vermelden dat u uw abonnement wilt opzeggen, met vermelding van uw NAW gegevens en uw emailadres.</li>
        <li>Vragen over het abonnement en de specifieke dienstverlening kunt u stellen via het contactformulier op de website.</li>
        <li>U heeft het recht om binnen de bedenktijd van 14 dagen zonder opgave van redenen het abonnement te annuleren door het door u bij bevestiging van de aanmelding ontvangen herroepingsformulier in te vullen en te retourneren naar zoopgelost@essent.nl. Voor het herroepingsformulier, zie ook https://www.acm.nl/nl/onderwerpen/verkoop-aan-consumenten/verkopen-aan-consumenten/bedenktijd/</li>
        <li>De bedenktijd is uiteraard niet van toepassing op bestelde en/of reeds uitgevoerde spoedklussen en ook niet op bestelde reguliere klussen waar reeds een aanvang aan is gegeven. Voor het annuleren van bestelde klussen verwijzen wij naar de (algemene voorwaarden van) MainPlus.</li>
      </ul>

      <h3>Aanvullende voorwaarden ZoOpgelost Premiumabonnement</h3>
      <ul class="list list--disc">
        <li>Het ZoOpgelost Premiumabonnement kan alleen worden afgesloten indien u een leveringsovereenkomst voor elektriciteit en/of gas heeft bij Essent. Wanneer u uw leveringsovereenkomst beëindigt, beëindigt u daarmee ook het recht op het abonnement;</li>
        <li>Als u bij Essent geen betalingsachterstanden heeft en in het bezit bent van een Premiumabonnement heeft u het recht om altijd een expert in te schakelen voor de meest voorkomende spoedklussen. De uitgevoerde werkzaamheden dienen nog wel afgerekend te worden.</li>
        <li>Onder spoeddiensten vallen de diensten die een oplossing bieden voor de volgende problemen: verstopte leidingen, buiten de deur gesloten, lekkage leidingen, lekkages dak, defect hang- en sluitwerk, kortsluiting, CV storingen, ruiten kapot.</li>
        <li>Tevens krijgt u 10% korting op niet-spoeddiensten/reguliere klussen welke binnen het abonnement vallen en zullen er dienaangaande geen voorrijkosten worden gerekend.</li>
        <li>Wij streven ernaar om binnen 1 uur een oplossing te kunnen bieden in geval van een calamiteit. Dit kunnen we echter niet garanderen.</li>
        <li>Indien u een spoeddienst wilt inzetten kunt u bellen met het gratis nummer 0800-8998 889. Reguliere diensten kunt u online inplannen.</li>
        <li>Het abonnementstarief voor ZoOpgelost Premium  bedraagt €1,- per maand en zal via automatische incasso door Essent geïncasseerd worden, waarvoor u bij het aangaan van het abonnement akkoord dient te geven.</li>
        <li>Essent behoudt zich het recht voor om de abonnementstarieven te wijzigen doch niet eerder dan 3 maanden na ingang van het abonnement. Hiervan zal abonnee op de hoogte worden gesteld  middels kennisgeving op de website en/of persoonlijke mededeling, met de mogelijkheid voor abonnee om alsdan het abonnement op te kunnen zeggen.</li>
      </ul>

      <h3>Aanvullende actievoorwaarden ZoOpgelost</h3>
      <ul class="list list--disc">
        <li>Deze actie is geldig van 1 september 2017 tot 1 januari 2018 en geldt niet in combinatie met andere acties en/of aanbiedingen.</li>
        <li>Indien u akkoord bent gegaan met de voorwaarden hoeft u de eerste 12 maanden geen abonnementstarief voor ZoOpgelost Premium te betalen en bespaart u daarmee dus in totaal 12 euro.</li>
        <li>De actie betreft een korting van 100 procent op het abonnementstarief van ZoOpgelost Premium voor een periode van 12 maanden. Deze gratis periode gaat in vanaf het moment van de online bevestiging of het moment van telefonisch accepteren van het abonnement.</li>
        <li>Deze actie geldt alleen als u tijdens de actieperiode een leveringsovereenkomst heeft voor stroom en/of gas van Essent.</li>
        <li>We betalen of keren de actiekorting/het geschenk niet in een andere vorm uit.</li>
        <li>Per leveringsadres kunt u maar één keer gebruikmaken van deze actie.</li>
        <li>Essent is te allen tijde gerechtigd om de actievoorwaarden te wijzigen. Dit heeft geen gevolgen voor reeds aangemelde klanten, die aan alle hiervoor bedoelde voorwaarden hebben voldaan.</li>
        <li>Essent behoudt zich het recht voor om te allen tijde deze actie, zonder u daarover in te lichten en zonder opgaaf van reden, stop te (laten) zetten of aan te passen. In deze gevallen kan geen aanspraak worden gemaakt op enige (schade)vergoeding.</li>
        <li>Alle genoemde bedragen zijn inclusief btw.</li>
        <li>Door mee te doen aan deze actie, accepteert u de actievoorwaarden.</li>
      </ul>
    </div>
  </div>
</div>
