<div class="modal" id="modal">
  <div class="modal__container modal__container--auto">
    <div class="modal__header">
      <span class="modal__btn-close"></span>
      <h2 class="modal__title">Fout bij uploaden</h2>
    </div>
    <div class="modal__content">
      <p>{{message}}</p>
    </div>
    <div class="modal__footer modal__footer--full">
      <button class="btn btn--modal btn--modal-ribbon js-modal-close">Ik snap het</button>
    </div>
  </div>
</div>
