.form {
  &__group {
    margin: 20px 0;
    position: relative;

    &--photo
    {
      display: flex;
      flex-wrap: wrap;

      .form__label
      {
        flex: 1;
        order: 1;
      }
      .form__control
      {
        width: 100%;
        order: 3;
      }
      .form__label--counter
      {
        order: 2;
      }
    }
  }

  &__link {
    float: right;
    text-decoration: underline;
    color: black;
    &--secondary {
      float: none;
      font-weight: 400;
    }
  }

  &__control {

    &-icon
    {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      font-size: 125%;
    }
  }
  &__control
  {
    @at-root {
      // a bit hacky to make sure that we can include the textarea styling in this
      &[type=text],
      &[type=password],
      &[type=email],
      textarea#{&} {
        display: block;
        font-size: 16px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;

        background: #FFFFFF;
        border: 1px solid #BFBFBF;
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.10);
        border-radius: 2px;
      }
      textarea#{&} {
        height: 120px;
      }
    }
    &[type=checkbox] {
      width: 20px;
      margin: 0 8px 0 0;
    }
    &--funnel-search {
      padding-left: 50px;
    }
    &-icon + &
    {
      padding-left: 40px;
    }
  }

  &__msg {
    color: $col-red;
    font-size: 14px;
    font-weight: 400;
    display: block;
    min-height: 20px;
    line-height: 22px;
  }

  &__text {
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
  }
  &__label {
    display: block;
    font-size: 16px;
    font-weight: 300;
    &--checkbox {
      flex: 1;
      font-weight: 400;
      line-height: 26px;
    }
  }

  &__buttons
  {
    display: flex;
    justify-content: space-between;
  }
}

@media #{$tablet} {
}

@media #{$mobile} {

  .form {

    &__link {
      &--secondary {
        display: block;
        margin-top: 10px;
      }
    }

    &__text {
      font-size: 14px;
      padding: 15px 0;
    }
    &__label {
      font-size: 14px;
      &--checkbox {
        line-height: 21px;
      }
    }
    &__buttons {

      &--alternative {
        flex-wrap: wrap-reverse;
        justify-content: center;
      }
    }
    &__button {
      &--submit {

        &-alternative {
          flex-basis: 100%;
          text-align: center;
        }
      }
    }
  }
}


