.header__title-container {
  background-color: $col-pink;
  color: $col-white;
  max-width: 400px;
  padding: 10px 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 0;

  }
}

@media #{$mobile} {
  .header__title-container {
    display: inline-block;
    h1 {
      font-size: 21px;
      line-height: 27px;
    }

  }
}
