.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
  overflow: auto;

  &.is-visible {
    display: flex;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    //width: 383px;
    //height: 477px;
    min-width: 380px;
    max-width: 580px;
    min-height: 400px;
    max-height: 580px;
    box-sizing: border-box;
    padding: 30px;
    background-color: $col-white;

    //&--activate-login {
    //  height: 389px;
    //}
    //&--task-detail {
    //  width: 580px;
    //  height: 555px;
    //  position: relative;
    //}
    //&--auto {
    //  height: auto;
    //}
  }

  //&__header {
  //  position: relative;
  //}
  &__content {
    flex: 1;
    overflow-y: scroll;
    font-size: 16px;
  }
  &__footer {
    &--full {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  &__rows {
    padding-bottom: 30px;
  }
  &__row {
    margin: 20px 0;
    &-title {
      font-weight: 400;
      margin: 10px 0;
    }
    &-content {
      font-weight: 300;
    }
  }
  &__col {
    color: $col-black;
    margin-right: 70px;
    &--secondary {
      color: $col-red;
    }
  }

  &__btn-close {
    position: absolute;
    height: 13px;
    width: 13px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    &:before,
    &:after
    {
      display: block;
      content: '';
      width: 18px;
      height: 1px;

      position: absolute;
      left: 50%;
      top: 50%;
      background: black;
    }
    &:before
    {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after
    {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 50px;
  }

  &__text {
    line-height: 26px;
    margin: 20px 0;
    text-align: center;
    &--secondary {
      font-weight: 300;
      //padding-left: 30px;
      margin: 0;
    }
    &--no-margin{
      margin: 0;
    }
    &--bold{
      font-weight: 700;
    }
  }


  &__info {
    display: flex;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid $col-grey;
    &-title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &-label {
      font-weight: 300;
    }
  }

  &__link {
    &--secondary {
      color: $col-orange;
    }
  }
}

body.has-modal {
  overflow: hidden;
}


@media #{$tablet} {}
//@media #{$mobile} {
//
//  .modal {
//    &__container {
//      width: auto;
//      margin: 16px;
//      height: 490px;
//      padding: 25px 20px 30px 20px;
//
//    }
//
//
//    &__header {
//
//    }
//    &__content {
//      font-size: 14px;
//    }
//
//    &__col {
//      margin: 0;
//      &:first-child {
//        margin-right: 25px;
//      }
//    }
//
//    &__title {
//      font-size: 30px;
//      line-height: 36px;
//    }
//    &__text {
//
//      &--secondary {
//        padding-left: 0;
//        margin: 0;
//        font-size: 14px;
//        line-height: 17px;
//        text-align: center;
//
//      }
//
//    }
//
//
//    &__info {
//
//      &-title {
//        font-size: 30px;
//      }
//      &-label {
//        font-weight: 300;
//      }
//    }
//
//
//  }
//}


@media #{$mobile} {
  .modal__container
  {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
  }
}
