.job {
  list-style: disc;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px 20px;
  &__item {
    flex-basis: 25%;
    margin: 10px 0;
  }
}
@media #{$tablet} {
  .job {

    &__item {
      flex-basis: 30%;
    }
  }
}
@media #{$mobile} {
  .job {
    flex-direction: column;
    &__item {
      flex-basis: 100%;
    }
  }
}
