<% layout('layouts/email') %>


<h1>Activeer je ZoOpgelost-account</h1>
<p>Je hebt zojuist een account aangemaakt op ZoOpgelost.nl. Je hoeft deze alleen nog maar te activeren om in te kunnen loggen. Deze link is 7 dagen geldig. Activeer je e-mail daarom snel.</p>
<a href="<%- baseUrl %>/account/activate?payload=<%- payload %>" class="btn">ACTIVEER JE ACCOUNT</a>
<p>Veel plezier met ZoOpgelost!</p>
<p>P.S. Heb je deze account niet zelf aangemaakt? Dan kun je deze mail negeren.</p>
<p>P.P.S. Ben je te laat met activeren?</p>
<a href="<%- baseUrl %>/account/activate/resend?payload=<%- payload %>" class="link">Verzoek dan een nieuwe activatie-e-mail.</a>
