<% layout('layouts/default') %>

<section class="section">
  <div class="container">


    <div class="row">

      <div class="column column__content">
        <h2 class="page-title">Vul je gegevens in</h2>

        <p class="page-subtitle">Maak binnen 2 minuten een account aan of <a href="login"
                                                                             class="text text-color">login</a></p>

        <form action="" class="form form--contact-details">

          <div class="form__row">
            <div class="form__col">
              <div class="form__group">
                <label for="firstname" class="form__label">Voornaam</label>
                <input type="text" class="form__control" placeholder="voornaam" required/>
              </div>
            </div>
            <div class="form__col">
              <div class="form__group">
                <label for="lastname" class="form__label">Achternaam</label>
                <input type="text" class="form__control" placeholder="achternaam" required/>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col form__col--full">
              <div class="form__group">
                <label for="email" class="form__label">E-mailadres</label>
                <input type="email" class="form__control" placeholder="e-mailadres" required/>

                <div class="form__msg">
                  Dit e-mailadres werd niet herkend
                </div>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__col">
              <div class="form__group">
                <label for="mobilenumber" class="form__label">Telefoonnummer</label>
                <input type="tel" class="form__control" placeholder="" required/>
              </div>
            </div>
          </div>
          <p>Je ontvangt een (gratis) sms een uur voor de afspraak</p>
          <div class="form__row">
            <div class="form__col">
              <div class="form__group">
                <label for="postcode" class="form__label">Postcode</label>
                <input type="text" class="form__control" placeholder="Bijv. 1234AB" required/>
              </div>
            </div>
            <div class="form__col">
              <div class="form__group">

                <label for="housenumber" class="form__label">Huisnummer + toevoeging</label>

                <div class="form__row form__row--secondary">
                  <div class="form__col">
                    <input type="number" class="form__control" placeholder="" required/>
                  </div>
                  <div class="form__col">
                    <input type="number" class="form__control" placeholder="" required/>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="form__row">
            <div class="form__col">
              <div class="form__group">

                <label for="password" class="form__label">Wachtwoord</label>
                <input type="password" class="form__control"
                       placeholder="&middot;&middot;&middot;&middot;&middot;&middot;" required/>
              </div>
            </div>
            <div class="form__col">
              <div class="form__group">

                <label for="repeat-password" class="form__label">Controle</label>
                <input type="password" class="form__control"
                       placeholder="&middot;&middot;&middot;&middot;&middot;&middot;" required/>

                <div class="form__msg">
                  De wachtwoorden komen niet overeen
                </div>
              </div>
            </div>
          </div>


        </form>

      </div>


      <div class="column column__sidebar">
        <%- partial('partials/funnel/sidebar/receipt') %>
        <%- partial('partials/funnel/sidebar/promotion') %>
      </div>

    </div>
  </div>
</section>

<section class="section section--secondary">
  <div class="container">

    <div class="row">
      <div class="column column__content">
        <h2 class="content__title">Kies je abonnement</h2>


        <div class="subscription-container">

          <a href="" class="block-subscription">
            <h6 class="block-subscription__title">Premium pakket</h6>
            <p class="block-subscription__subtitle">Alleen voor Essent klanten</p>
            <div class="block-subscription__price">€12,- / per jaar</div>

            <ul class="block-subscription__items">
              <li class="block-subscription__item">Eerste 12 maanden gratis</li>
              <li class="block-subscription__item">10% korting op reguliere klussen</li>
              <li class="block-subscription__item">Inplannen van spoedklussen, 24h bereikbaar en service binnen een
                uur
              </li>
              <li class="block-subscription__item">Maandelijks opzegbaar</li>
            </ul>

            <a href="" class="btn">NU PROBEREN</a>
          </a>
          <a href="" class="block-subscription">
            <h6 class="block-subscription__title">Basis pakket</h6>
            <p class="block-subscription__subtitle">Toegangkelijk voor iedereen</p>
            <div class="block-subscription__price">Gratis</div>

            <ul class="block-subscription__items">
              <li class="block-subscription__item">Marktconforme prijs</li>
              <li class="block-subscription__item">Inplannen van reguliere klussen</li>
              <li class="block-subscription__item">Altijd een betrouwbare expert</li>
            </ul>

            <a href="" class="btn">NU PROBEREN</a>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>


