<% layout('layouts/default') %>
<div class="section section--alternative">
  <div class="container">
    <%- partial('partials/funnel/breadcrumbs', {currentStep: 3}) %>
  </div>
</div>
<div class="section">
  <div class="container">
    <h1 class="page-title">Controleer je gegevens</h1>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-5 col-sm-4">
        <div class="form">
          <div class="contact-details">
            <div class="contact-details__subscription">Basispakket</div>
            <div class="contact-details__content">

              <div class="contact-details__group">

                <h6 class="contact-details__title">Contactgegevens</h6>
                <ul class="contact-details__info">
                  <li>Gerard Verhagen</li>
                  <li>Gerardv@gmail.com</li>
                  <li>06 123 412 34</li>
                </ul>
              </div>
              <div class="contact-details__group">
                <h6 class="contact-details__title">Adresgegevens</h6>
                <ul class="contact-details__info">
                  <li>Straatjesstraat 26 bis</li>
                  <li>1234 AB Amsterdam</li>
                </ul>
              </div>
            </div>
            <div class="contact-details__actions">
              <a href="" class="contact-details__link">Wijzigen</a>
            </div>
          </div>

          <div class="form__buttons">
            <a href="/funnel/" class="btn btn--link btn--link-icon form__button--back">terug</a>
            <a href="" class="btn js-btn-submit form__button--submit">bevestigen</a>
          </div>

        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-offset-lg-2 col-offset-xl-2 col-md-3 col-sm-4">
        <%- partial('partials/funnel/sidebar/receipt') %>
        <%- partial('partials/funnel/sidebar/promotion') %>
      </div>
    </div>
  </div>
</div>
