<% layout('layouts/default') %>
<div class="section section--alternative">
  <div class="container">
    <%- partial('partials/funnel/breadcrumbs', {currentStep: 1}) %>
  </div>
</div>
<div class="section">
  <div class="container">
    <h1>Kies een klus</h1>
    <div class="row">

      <div class="col-7 col-md-5 col-sm-4">
        <%- partial('partials/funnel/job-selection', {categories}) %>


        <h3>Staat je klus hier niet tussen?</h3>
        <p>
          Dan doen we het waarschijnlijk (nog) niet. Suggesties kun je e-mailen naar <a href="mailto:zo.opgelost@essent.nl">zo.opgelost@essent.nl</a>
        </p>

      </div>
      <div class="col-offset-lg-1 col-offset-xl-1 col-4 col-md-3">

        <%- partial('partials/funnel/sidebar/receipt') %>
        <%- partial('partials/funnel/sidebar/promotion') %>

      </div>

    </div>
  </div>
</div>
