<div class="block">
  <div class="block__heading">Internet</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Computeronderhoud</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Elektra</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Apparatuur</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Water</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Verwarming</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block__wide">
  <div class="block__heading">Overig</div>
  <ul class="block__wide--left">
    <li class="block__link">Reparatie dak / dakbedekking aanleggen </li>
    <li class="block__link">Lood en zinkwerk</li>
    <li class="block__link">Deurslot vervangen</li>
    <li class="block__link">Schilderwerk binnen / buiten</li>
    <li class="block__link">Plank ophangen</li>
    <li class="block__link">Stucen</li>
    <li class="block__link">Houtrot behandelen</li>
    <li class="block__link">Deur afhangen</li>
  </ul>
  <ul class="block__wide--right">
    <li class="block__link">Isolatie dak</li>
    <li class="block__link">Waterleiding vervangen/ verplaatsen</li>
    <li class="block__link">WC spoelbak repareren</li>
    <li class="block__link">Riolering vervangen/ verplaatsen</li>
    <li class="block__link">Witgoed aansluiten</li>
    <li class="block__link">Lekkage detectie</li>
    <li class="block__link">Verstoppingen verhelpen</li>
    <li class="block__link">Lekkende kraan verhelpen</li>
  </ul>
</div>
