<div class="block">
  <div class="block__heading">Internet</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Computeronderhoud</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Elektra</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Apparatuur</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Water</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

<div class="block">
  <div class="block__heading">Verwarming</div>
  <div class="block__link">Kraan aansluiten of vervangen</div>
  <div class="block__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="block__link">WC spoelbak repareren</div>
</div>

