<ul class="breadcrumbs">
  <li class="breadcrumbs__item">
    <a href="" class="breadcrumbs__link breadcrumbs__link--passed">1. <span class="breadcrumbs__text"> Kies een klus</span></a>
  </li>
  <li class="breadcrumbs__item">
    <a href="" class="breadcrumbs__link breadcrumbs__link--passed">2. <span class="breadcrumbs__text"> Maak een afspraak</span></a>
  </li>
  <li class="breadcrumbs__item is-active">
    <a href="" class="breadcrumbs__link breadcrumbs__link--passed">3. <span class="breadcrumbs__text">Persoonsgegevens</span></a>
  </li>
  <li class="breadcrumbs__item">
    <a href="" class="breadcrumbs__link">4. <span class="breadcrumbs__text"> Klaar </span></a>
  </li>
</ul>
