<div class="contact-tile">
  <div class="contact-tile__image">
    <i class="icon-question-mark"></i>
  </div>
  <div class="contact-tile__heading">Staat je klus hier niet tussen?</div>
  <div class="contact-tile__info">Dan doen we het waarschijnlijk (nog) niet. Suggesties kun je <br>e-mailen naar</div>
  <div class="contact-tile__link">zo.opgelost@essent.nl</div>
</div>
