<h6 class="emergency__title">Dit verstaan we onder spoedgevallen</h6>
<ul class="emergency__items">
  <li>Verstopte leidingen</li>
  <li>Buiten de deur gesloten</li>
  <li>Lekkage leidingen</li>
  <li>Kortsluiting</li>
  <li>Reparatie hang- en sluitwerk</li>
  <li>CV storingen</li>
  <li>Ruitreparatie</li>
</ul>

<div class="emergency__info">
  <div class="emergency__image">
    <i class="icon-alarm"></i>
  </div>
  <h6>Staat je klus hier niet tussen, maar is het wel spoed?</h6>
  <p>Check of we niet alsnog snel langs kunnen
    komen en bel naar <a class="emergency__phone-number">0800 1234 1234</a></p>
</div>

