<h6 class="emergency__title">Zo opgelost abonnementen</h6>
<p class="emergency__paragraph">Voor iedereen is er een basispakket, waarmee je al iedere soort
  reguliere klus kunt inplannen. Voor Essent-klanten is er bovendien
  een Premium-pakket met onder andere korting en kunnen
  inplannen van spoedklussen.</p>
<div class="form__buttons emergency__buttons">
  <a href="" class="btn js-btn-submit form__button--submit">DIRECT INSCHRIJVEN</a>
</div>
