<div class="job-list">
  <h6 class="job-list__heading">Internet</h6>
  <ul class="job-list__links">
    <li class="job-list__links-item">Kraan aansluiten of vervangen</li>
    <li class="job-list__links-item">Waterleiding vervangen/ verplaatsen</li>
    <li class="job-list__links-item">WC spoelbak repareren</li>
  </ul>

</div>

<div class="job-list">
  <div class="job-list__heading">Computeronderhoud</div>
  <div class="job-list__link">Kraan aansluiten of vervangen</div>
  <div class="job-list__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="job-list__link">WC spoelbak repareren</div>
</div>

<div class="job-list">
  <div class="job-list__heading">Elektra</div>
  <div class="job-list__link">Kraan aansluiten of vervangen</div>
  <div class="job-list__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="job-list__link">WC spoelbak repareren</div>
</div>

<div class="job-list">
  <div class="job-list__heading">Apparatuur</div>
  <div class="job-list__link">Kraan aansluiten of vervangen</div>
  <div class="job-list__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="job-list__link">WC spoelbak repareren</div>
</div>

<div class="job-list">
  <div class="job-list__heading">Water</div>
  <div class="job-list__link">Kraan aansluiten of vervangen</div>
  <div class="job-list__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="job-list__link">WC spoelbak repareren</div>
</div>

<div class="job-list">
  <div class="job-list__heading">Verwarming</div>
  <div class="job-list__link">Kraan aansluiten of vervangen</div>
  <div class="job-list__link">Waterleiding vervangen/ verplaatsen</div>
  <div class="job-list__link">WC spoelbak repareren</div>
</div>

<div class="job-list__wide">
  <div class="job-list__heading">Overig</div>
  <ul class="job-list__wide--left">
    <li class="job-list__link">Reparatie dak / dakbedekking aanleggen </li>
    <li class="job-list__link">Lood en zinkwerk</li>
    <li class="job-list__link">Deurslot vervangen</li>
    <li class="job-list__link">Schilderwerk binnen / buiten</li>
    <li class="job-list__link">Plank ophangen</li>
    <li class="job-list__link">Stucen</li>
    <li class="job-list__link">Houtrot behandelen</li>
    <li class="job-list__link">Deur afhangen</li>
  </ul>
  <ul class="job-list__wide--right">
    <li class="job-list__link">Isolatie dak</li>
    <li class="job-list__link">Waterleiding vervangen/ verplaatsen</li>
    <li class="job-list__link">WC spoelbak repareren</li>
    <li class="job-list__link">Riolering vervangen/ verplaatsen</li>
    <li class="job-list__link">Witgoed aansluiten</li>
    <li class="job-list__link">Lekkage detectie</li>
    <li class="job-list__link">Verstoppingen verhelpen</li>
    <li class="job-list__link">Lekkende kraan verhelpen</li>
  </ul>
</div>
