<div class="job-overview">
  <div class="job-overview__column">
    <h6 class="job-overview__title">Internet</h6>
    <ul class="job-overview__links">
      <li class="job-overview__links-item">Kraan aansluiten of vervangen</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
    </ul>
  </div>
  <div class="job-overview__column">
    <h6 class="job-overview__title">Computeronderhoud</h6>
    <ul class="job-overview__links">
      <li class="job-overview__links-item">Kraan aansluiten of vervangen</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
    </ul>
  </div>
  <div class="job-overview__column">
    <h6 class="job-overview__title">Elektra</h6>
    <ul class="job-overview__links">
      <li class="job-overview__links-item">Kraan aansluiten of vervangen</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
    </ul>
  </div>
  <div class="job-overview__column">
    <h6 class="job-overview__title">Apparatuur</h6>
    <ul class="job-overview__links">
      <li class="job-overview__links-item">Kraan aansluiten of vervangen</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
    </ul>
  </div>
  <div class="job-overview__column">
    <h6 class="job-overview__title">Water</h6>
    <ul class="job-overview__links">
      <li class="job-overview__links-item">Kraan aansluiten of vervangen</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
    </ul>
  </div>
  <div class="job-overview__column">
    <h6 class="job-overview__title">Verwarming</h6>
    <ul class="job-overview__links">
      <li class="job-overview__links-item">Kraan aansluiten of vervangen</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
    </ul>
  </div>
  <div class="job-overview__column job-overview__column--wide">
    <h6 class="job-overview__title">Overig</h6>
    <ul class="job-overview__links job-overview__links--wide">
      <li class="job-overview__links-item">Reparatie dak / dakbedekking aanleggen </li>
      <li class="job-overview__links-item">Lood en zinkwerk</li>
      <li class="job-overview__links-item">Deurslot vervangen</li>
      <li class="job-overview__links-item">Schilderwerk binnen / buiten</li>
      <li class="job-overview__links-item">Plank ophangen</li>
      <li class="job-overview__links-item">Stucen</li>
      <li class="job-overview__links-item">Houtrot behandelen</li>
      <li class="job-overview__links-item">Deur afhangen</li>

      <li class="job-overview__links-item">Isolatie dak</li>
      <li class="job-overview__links-item">Waterleiding vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">WC spoelbak repareren</li>
      <li class="job-overview__links-item">Riolering vervangen/ verplaatsen</li>
      <li class="job-overview__links-item">Witgoed aansluiten</li>
      <li class="job-overview__links-item">Lekkage detectie</li>
      <li class="job-overview__links-item">Verstoppingen verhelpen</li>
      <li class="job-overview__links-item">Lekkende kraan verhelpen</li>
    </ul>
  </div>
</div>

