<div class="overview-intro overview-intro__container">
  <h6 class="overview-intro overview-intro__title">Ons klusaanbod</h6>
  <p class="overview-intro overview-intro__info">Onze ervaren experts zijn zorgvuldig geselecteerd, hieronder zie je waarvoor je ze onder andere kunt boeken. Spoedgevallen en calamiteiten vallen niet onder deze reguliere klussen. Lees meer
    over het <a class="overview-intro__link">inplannen van spoedklussen</a> of bel 0800 - 123 123</p>
</div>
