<div class="receipt">
  <h6 class="receipt__header">Jouw klusafspraak</h6>
  <div class="receipt__total">Router Installeren</div>
  <div class="receipt__total receipt__total--price">€50,-</div>
</div>
