<div class="sidebar-promotion">
  <h6 class="sidebar-promotion__heading">Dit is ZoOpgelost</h6>
  <ul class="sidebar-promotion__list">
    <li>Altijd een betrouwbare expert</li>
    <li>Eerlijk en marktconforme prijs</li>
    <li>Garantie op de uitvoering</li>
  </ul>
  <div class="sidebar-promotion__footer">
      <h6 class="sidebar-promotion__footer--heading">Spoedje?</h6>
      <div class="sidebar-promotion__footer--info">Als Premium-lid kun je ook spoedklussen inplannen.</div>
      <div class="sidebar-promotion__footer--read-more">Lees meer</div>
  </div>
</div>

