<% layout('layouts/email') %>

<h1>Je klusafspraak is rond!</h1>
  <div class="appointment-details">
    <p>Dit kun je verwachten:</p>
    <ol>
      <li>Je ontvangt binnen enkele minuten een afspraakbevestiging op “john@mail.com”
      </li>
      <li>24 uur voor je afspraak ontvang je een herinneringsmail</li>
      <li>Eén uur voor je afspraak ontvang je een herinnering via sms</li>
      <li>De klus wordt (hopelijk!) geklaard, je betaalt achteraf</li>
    </ol>
    <p>Je afspraak heeft het bevestigingsnummer: <span class="text-bold"> SDFGS234.</span></p>

    <h3 class="subtitle">Afspraakdetails</h3>
    <ul class="list">
      <li>Router installeren (€ 50,00)</li>
      <li>Morgen, (vrijdag 26 mei) tussen 09:00 en 10:00</li>
      <li>Straatjesstraat 1 bis 1234 AB Amsterdam</li>
    </ul>

    <h6 class="text-bold">Toelichting</h6>
    <p>We hebben aan de achterzijde van onze woning een gestorte betonplaat. Deze is gestort op een lading puin en grote stenen.
      Door het inklinken en regen is de plaat verzakt en zit er volgens mij ruimte op diverse plaatsen onder de betonplaat.
      Bijlagen (4): “huisje.jpg”, “huisje2.jpg”, “huisje3.png”, “huisje4.bmp”</p>
    <h6 class="text-bold">Basis abonnement</h6>
    <ul class="list">
      <li>John Doe</li>
      <li>john@mail.com</li>
      <li>0612341234</li>
    </ul>

  </div>
