<% layout('layouts/email') %>

<h1>Hoe ging je klusafspraak?</h1>
<div class="appointment-details">
  <p>Gisteren is er (als het goed is) een klusjesman langsgkomen voor het volgende</p>

  <ul class="list">
    <li>Router installeren (€ 50,00)</li>
    <li>Morgen, (vrijdag 26 mei) tussen 09:00 en 10:00</li>
    <li>Straatjesstraat 1 bis 1234 AB Amsterdam</li>
  </ul>

  <p>Om onze service te verbeteren zijn we erg benieuwd naar hoe het gegaan is.</p>
  <p>De vragenlijst bestaat uit 6 vragen, invullen duurt ongeveer 2 minuten.</p>

  <p class="text-bold">Hoe is je algemene ervaring?</p>

  <div class="empty-cell"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></div>
  <a href="" class="btn">Geef je feedback</a>
</div>
