<% layout('layouts/email') %>

<h1>Factuur</h1>
<div class="appointment-details">
  <p>Gisteren is er (als het goed is) een klusjesman langsgkomen voor het volgende</p>

  <ul class="list">
    <li>Router installeren (€ 50,00)</li>
    <li>Morgen, (vrijdag 26 mei) tussen 09:00 en 10:00</li>
    <li>Straatjesstraat 1 bis 1234 AB Amsterdam</li>
  </ul>

</div>
