<% layout('layouts/email') %>

<h1>Afspraakherinnering</h1>
<p>Eerder heb je de onderste afspraak gemaakt via ZoOpgelost.nl. Omdat deze voor morgen gepland staat hierbij een herinnering. <a href="" class="link">Check of je nog iets moet voorbereiden</a> of zelf alles in huis hebt.</p>

<div class="appointment-details">
  <h3 class="subtitle">Checklist</h3>
  <h6 class="text-bold">Wat doen we:</h6>
  <ul>
    <li>Router herinstalleren</li>
  </ul>

  <h6 class="text-bold">Zorg dat je dit in huis hebt of voorbereid:</h6>
  <ul>
    <li>Een router</li>
  </ul>

  <h6 class="text-bold">Wat doen we niet:</h6>
  <ul>
    <li>Kabels trekken</li>
    <li>Fresen</li>
  </ul>

  <h6 class="text-bold">Garantie(termijn)</h6>
  <ul>
    <li>De garantie</li>
  </ul>


  <h3 class="subtitle">Afspraakdetails</h3>
  <ul class="list">
    <li>Router installeren (€ 50,00)</li>
    <li>Morgen, (vrijdag 26 mei) tussen 09:00 en 10:00</li>
    <li>Straatjesstraat 1 bis 1234 AB Amsterdam</li>
  </ul>

  <h6 class="text-bold">Toelichting</h6>
  <p>We hebben aan de achterzijde van onze woning een gestorte betonplaat. Deze is gestort op een lading puin en grote stenen.
    Door het inklinken en regen is de plaat verzakt en zit er volgens mij ruimte op diverse plaatsen onder de betonplaat.
    Bijlagen (4): “huisje.jpg”, “huisje2.jpg”, “huisje3.png”, “huisje4.bmp”</p>
  <h6 class="text-bold">Basis abonnement</h6>
  <ul class="list">
    <li>John Doe</li>
    <li>john@mail.com</li>
    <li>0612341234</li>
  </ul>

</div>
