html, body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.site-body {
  flex: 1;
}

a {
  text-decoration: none;
}

.page-subtitle {
  margin: 20px 0;
}


@media #{$mobile} {

  .page-subtitle {
    font-size: 14px;
  }
}


@media #{$mobile} {
  .well
  {
    padding: 76px 24px 34px 24px;
    text-align: center;
    &--alarm
    {
      .alarm
      {
        position: absolute;
        left: 50%;
        top: 40px;
        transform: translate(-50%, -50%);
      }
    }


  }
}
