html, body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.site-body {
  flex: 1;
}

a {
  text-decoration: none;
}

.well
{
  background-color: $col-pink;
  color: $col-white;
  position: relative;
  &--alarm
  {
    padding: 20px 20px 22px 90px;
    .alarm
    {
      position: absolute;
      font-size: 36px;
      left: 47px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.page-subtitle {
  margin: 20px 0;
}

@media #{$mobile} {

  .page-subtitle {
    font-size: 14px;
  }
  .well
  {
    padding: 76px 24px 34px 24px;
    text-align: center;
    &--alarm
    {
      .alarm
      {
        position: absolute;
        left: 50%;
        top: 40px;
        transform: translate(-50%, -50%);
      }
    }
  }
}
