@import "grid-layout";


.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
}

.row {
  &--centered
  {
    justify-content: center;
  }
}
.col--overflow
{
  // this means this column is going to overflow its size.
  // used in the sidebar for items that overflow the section
  height: 1px;

  @media (max-width: $mobile-width) {
    height: auto;
  }
}

@media #{$tablet} {
  .container {
    padding: 0 24px;
    &--image {
      padding-bottom: 100px;
    }
  }
}
@media #{$mobile} {
  .container {
    padding: 0 16px;
    &--image {
      padding-top: 62.5vw;
    }
  }
}
