.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 32px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: -8px;
  flex-wrap: wrap;

}

.column {
  padding: 8px;
  box-sizing: border-box;
  &__content {
    width: (100%/12)*7;
    &--heading,
    &--narrow
    {
      width: (100%/12)*5;
    }
  }
  &__sidebar {
    width: (100%/12)*4;
  }
  &--timepicker
  {
    flex: 1
  }
}

@media #{$non-desktop} {
  .column
  {
    &__content {
      &--heading,
      &--narrow
      {
        width: 100%;
      }
    }
    &--datepicker,
    &--timepicker
    {
      width: 100%;
    }
  }
}

@media #{$tablet} {
  .container {
    padding: 0 24px;
  }
  .column {
    &__content {
      &--heading
      {
        width: (100%/8)*4;
      }
      &--narrow
      {
        width: (100%/8)*5.5;
      }
    }
  }
}
@media #{$mobile} {
  .container {
    padding: 0 16px;
  }
  .column {
    &__content {
      width: 100%;

    }
    &__sidebar {
      width: 100%;
      margin-top: 50px;
    }
  }
}


@media #{$desktop} {
  .hide-desktop { display: none !important; }
}
@media #{$non-desktop} {
  .show-desktop { display: none !important; }
}
@media #{$mobile} {
  .hide-mobile { display: none !important; }
}
@media #{$non-mobile} {
  .show-mobile { display: none !important; }
}
