.section
{
  padding: 50px 0;
  &--alternative
  {
    background: rgba(247, 247, 247, 0.6);

  }
  &--image {
    padding: 19%;
    background: url('../images/image.png') center right;
    background-size: cover;
  }
  &__text {
    margin: 20px 0 40px;
  }
  &--header
  {
    p
    {
      font-weight: 300;
    }
    &-home {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: -100px;
        right: 0;
        left: 0;
        bottom: -200px;
        background: url("../images/circles-A.svg") top right no-repeat;
        background-size: 85% ;
        z-index: -1;
      }
    }
  }
  &__description {
    font-size: 19px;
    line-height: 29px;
    font-weight: 300;
  }
  &__block {
    &--home {
      margin: 35px 0;

    }
  }
}
@media #{$tablet} {
  .section {
    &--image {
      padding: 22.5%;
    }
  }

}
@media #{$mobile} {
  .section
  {
    padding: 20px 0;

    &--header
    {
      h1
      {
        font-size: 26px;
        line-height: 32px;
      }
      p
      {
        font-weight: 300;
      }
    }
    &--image {
      padding: 27%;
    }
    &__text {
      &--home {
        margin: 20px 0;
      }
    }
  }

}



