body {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: (26 / 16);
}
h1, h2, h3, h4, h5, h6, p, ul
{
  font-weight: 300;
  line-height: (26 / 16);
  margin: 0.5em 0;
}

h1
{
  font-size: (48rem / 16);
}
h2
{
  font-size: (30rem / 16);
  color: $col-pink;
}
h3
{
  font-size: (19rem / 16);
}
h4, h5, h6
{
  font-size: (16rem / 16);
  font-weight: normal;
}

p, ul
{
  font-weight: normal;
  margin: 1em 0;
}
.link {
  color: $col-orange;
}
.warning {
  color: $col-red;
}
strong
{
  font-weight: bold;
}
.list
{
  text-align: left;
  li
  {
    position: relative;
    padding: 0px 10px 5px 25px;

  }
  &--col-2
  {
    column-count: 2;
  }
  &--col-home {
    column-count: 4;
  }

  &--disc
  {
    list-style: disc;
    li
    {
      padding-left: 0;
      margin-left: 25px;
    }
  }
  &--check
  {
    list-style: none;
    li
    {
      @include icon(check-mark--rounded, before, false);
      &:before
      {
        position: absolute;
        left: 0px;
        color: $col-pink;
      }
    }
  }
  &--links {
    border-top: 1px solid $col-grey;
    margin: 20px 0 0 0;
    padding-top: 20px;
    position: relative;

    li {
      display: inline;
      padding: 0;
      font-size: 14px;
      &:after {
        padding: 5px;
        color: $col-orange;
        content: "\003e";
      }
    }
  }
  &--secondary {
    li {
      padding: 0 0 5px 0;
      font-weight: 300;
    }
  }

}
@media #{$tablet} {
  .list {
    &--col-home {
      column-count: 3;
    }
  }
}
@media #{$mobile} {
  .list
  {
    &--col-2,
    &--col-home
    {
      column-count: 1;
    }
    &--links {
      li {
        display: block;
        margin: 10px 0;
      }
    }
  }
}
