<div class="order-overview">
  <ul class="order-overview__orders">
  <% orders.forEach(order => { %>
    <% if (order.Status === 'Done') { %>
      <%- partial('partials/account/order-overview__item--completed', {order}) %>
    <% } else if (order.Status === 'Cancelled') { %>
      <%- partial('partials/account/order-overview__item--canceled', {order}) %>
    <% } else { %>
      <%- partial('partials/account/order-overview__item', {order}) %>
    <% } %>
  <% }) %>
  </ul>

  <script type="text/template" class="order-overview__template">
    <%- partial('partials/order-notification')%>
  </script>
</div>
