<% layout('layouts/default') %>

<div class="section section--header section--header-circles">
  <div class="container container--image">
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-4">
        <h1>
          Spoedgevallen
        </h1>
        <p>
          Bij sommige situaties moet er snel worden ingegrepen.
          Je kunt ons dag en nacht bellen voor dit soort spoedgevallen.
          Er is vervolgens service binnen een uur. Spoedgevallen zijn er alleen
          voor abonnees met een Premium-pakket. Bij spoed kun je
          vervolgens bellen met <strong>0800 1234 1234</strong>
        </p>
      </div>
    </div>
    <img src="/assets/images/section__header-image--emergencies.svg" alt="" class="section__header-image section__header-image--emergencies">
  </div>
</div>
<div class="section section--alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-4 col-xl-5 col-lg-6">
        <h2>Dit verstaan we onder spoedgevallen</h2>
        <ul class="list list--disc list--col-2">
          <li>Verstopte leidingen</li>
          <li>Buiten de deur gesloten</li>
          <li>Lekkage leidingen</li>
          <li>Kortsluiting</li>
          <li>Reparatie hang- en sluitwerk</li>
          <li>CV storingen</li>
          <li>Ruitreparatie</li>
        </ul>
        <div class="well well--alarm">
          <i class="well__icon icon-alarm"></i>
          <h6>Staat je klus hier niet tussen, maar is het wel spoed?</h6>
          <p>
            Check of we niet alsnog snel langs kunnen
            komen en bel naar <strong>0800 1234 1234</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row row--secondary">
      <div class="col-5 col-md-6 col-sm-4">
        <h2>Zo opgelost abonnementen</h2>
        <p>
          Voor iedereen is er een basispakket, waarmee je al iedere soort
          reguliere klus kunt inplannen. Voor Essent-klanten is er bovendien
          een Premium-pakket met onder andere korting en kunnen
          inplannen van spoedklussen.
        </p>
        <a href="#" class="btn">DIRECT INSCHRIJVEN</a>
      </div>
      <div class="col-offset-xl-1 col-offset-lg-1 col-6 col-md-8 col-sm-4">
        <%- partial('components/subscription') %>
      </div>
    </div>
  </div>
</div>
