<% layout('layouts/default') %>

<div class="section section--header header">
  <div class="container">
    <div class="row">
      <div class="column column__content--heading">
        <h1>
          Spoedgevallen
        </h1>
        <p class="emergency__paragraph">
          Bij sommige situaties moet er snel worden ingegrepen.
          Je kunt ons dag en nacht bellen voor dit soort spoedgevallen.
          Er is vervolgens service binnen een uur. Spoedgevallen zijn er alleen
          voor abonnees met een Premium-pakket. Bij spoed kun je
          vervolgens bellen met <strong>0800 1234 1234</strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="column column__content--narrow">
        <div class="emergency">
          <h6 class="emergency__title">Dit verstaan we onder spoedgevallen</h6>
          <ul class="emergency__items">
            <li>Verstopte leidingen</li>
            <li>Buiten de deur gesloten</li>
            <li>Lekkage leidingen</li>
            <li>Kortsluiting</li>
            <li>Reparatie hang- en sluitwerk</li>
            <li>CV storingen</li>
            <li>Ruitreparatie</li>
          </ul>
          <div class="emergency__info">
            <div class="emergency__image">
              <i class="icon-alarm"></i>
            </div>
            <h6>Staat je klus hier niet tussen, maar is het wel spoed?</h6>
            <p>
              Check of we niet alsnog snel langs kunnen
              komen en bel naar <strong>0800 1234 1234</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column column__content--narrow" >
        <div class="emergency">
          <h6 class="emergency__title">Zo opgelost abonnementen</h6>
          <p>
            Voor iedereen is er een basispakket, waarmee je al iedere soort
            reguliere klus kunt inplannen. Voor Essent-klanten is er bovendien
            een Premium-pakket met onder andere korting en kunnen
            inplannen van spoedklussen.
          </p>
          <div class="emergency__buttons">
            <a href="#" class="btn js-btn-submit btn">DIRECT INSCHRIJVEN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
