<% layout('layouts/default') %>

<div class="section section--header section--header-circles">
  <div class="container container--image">
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-4">
        <h1>
          Spoedgeval
        </h1>
        <p>
          Stel, u heeft zich buitengesloten of uw cv-ketel is er ineens mee opgehouden. Dan moet er dus meteen iets gebeuren. Heeft u een ZoOpgelost Premium pakket, dan kunt u ons gelukkig dag en nacht bellen. Een van onze experts staat dan binnen een uur voor de deur.<br />
          <br />
          Spoedje? <strong>Bel <a href="tel:0800123123" class="link">0800 - 123 123</a></strong><br />
          Nog geen Premium pakket, geen probleem. Ook telefonisch kunnen Essent-klanten zich aanmelden.
        </p>
      </div>
    </div>
    <img src="/assets/images/section__header-image--emergencies.svg" alt="" class="section__header-image section__header-image--emergencies">
  </div>
</div>
<div class="section section--alternative">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-4 col-xl-5 col-lg-6">
        <h2>De spoedgevallen waarvoor u kunt bellen</h2>
        <ul class="list list--disc list--col-2">
          <li>Verstopte afvoer of lekkende leiding</li>
          <li>Buiten de deur gesloten</li>
          <li>Geen verwarming of warm water</li>
          <li>Lekkend dak</li>
          <li>Kapot raam</li>
          <li>Kortsluiting</li>
        </ul>
        <div class="well well--alarm">
          <i class="well__icon icon-alarm"></i>
          <h6>Staat uw spoedklus er niet tussen? </h6>
          <p>
            Bel ons gerust, wie weet kunnen we toch helpen!<br />
            <a href="tel:0800123123" class="link">0800 - 123 123</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section--alternative">
  <div class="container">
    <div class="row row--secondary">
      <div class="col-5 col-md-6 col-sm-4">
        <h2>ZoOpgelost pakketten</h2>
        <p>
          Om een klus te boeken via ZoOpgelost, maakt u een account aan. Zo kunt u voortaan eenvoudig uw klussen inplannen. Bent u klant van Essent? Dan kunt u ook kiezen voor het Premium pakket. Hiernaast staan alle voordelen op een rijtje.
        </p>
      </div>
      <div class="col-offset-xl-1 col-offset-lg-1 col-6 col-md-8 col-sm-4">
        <%- partial('components/subscription') %>
      </div>
    </div>
  </div>
</div>
