<% layout('layouts/default') %>
<div class="container">
  <h1>Foutje!</h1>
  <pre>
    <%- error.message %>
  </pre>

  <% if (process.env.NODE_ENV !== 'production') { %>
  <pre>
    <%- String(error.stack) %>
  </pre>
  <% }%>
</div>
