<% layout('layouts/default') %>
<div class="section section--header section--header-circles">
  <div class="container container--image">
    <div class="row">
      <div class="col-sm col-md-5 col-lg-5 col-xl-4">
        <div class="well well--home">
          <h1>
            Hulp nodig bij een klus?<br />
            <strong>ZoOpgelost</strong>
          </h1>
        </div>
        <div class="button-bar">
          <a href="/funnel" class="btn btn--block">Boek een klus</a>
          <a href="/ons-klusaanbod" class="btn btn--link btn--block">Meer informatie</a>
        </div>
      </div>
    </div>
    <img src="/assets/images/section__header-image--tools.svg" alt="" class="section__header-image section__header-image--tools">
  </div>
</div>

<div class="section section--alternative">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md-6 col-lg-6 col-xl-6">
        <p class="section__description">
          Er zijn van die klusjes in huis die maar blijven liggen. Of er gaat ineens iets kapot. Gelukkig is er dan ZoOpgelost van Essent. Ons team van experts staat altijd voor u klaar, zo is uw klus in een mum van tijd geklaard.<br />
          Ook bij spoedgevallen komen we langs. <br />
          <strong>Meteen hulp nodig? Bel dan gratis <a href="tel:0800123123" class="link">0800 - 123 123</a></strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4 col-sm-4">
        <h2>Daarom ZoOpgelost</h2>
        <p>Een klusafspraak is zo gemaakt, gewoon online en bij een spoedklus ook telefonisch. Daarnaast is het fijn als u weet waar u aan toe bent, dat vinden wij ook prettig, daarom:</p>
        <ul class="list list--check">
          <li>betaalt u geen voorrijkosten</li>
          <li>betaalt u achter, dus pas als u tevreden bent</li>
          <li>krijgt u garantie op de uitvoering</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-sm-4 col--bottom">
        <div class="booking-step">
          <a href="#" class="booking-step__button booking-step__button--prev"></a>
          <ul class="booking-step__list">
            <li class="booking-step__item booking-step__item-1 is-active">Zoek eenvoudig uw klus</li>
            <li class="booking-step__delimiter"></li>
            <li class="booking-step__item booking-step__item-2"> Kies een datum en tijd</li>
            <li class="booking-step__delimiter"></li>
            <li class="booking-step__item booking-step__item-3">Vul uw gegevens in en klaar</li>
          </ul>
          <a href="#" class="booking-step__button booking-step__button--next"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4 col-sm-4">
        <p>
          <a href="/funnel" class="btn">Zoek jouw klus en boek</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section section--image section--image-home"></div>

<div class="section section--secondary">
  <div class="container">
    <h2>Onze klussers staan voor u klaar</h2>
    <p class="section__text section__text--home">
      ZoOpgelost werkt met experts en dus hebben we voor elke klus de juiste persoon.  Hieronder hebben we alvast de meest aangevraagde klussen op een rijtje gezet:
    </p>
    <ul class="list list--disc list--col-home">
      <li>Lekkende kranen</li>
      <li>Sneller internet</li>
      <li>Schilderen</li>
      <li>Verstoppingen</li>
      <li>Lekkages</li>
    </ul>
    <p>
      <a href="/ons-klusaanbod" class="btn btn--block">BEKIJK ALLE KLUSSEN</a>
      <a href="/funnel" class="btn btn--link btn--block">MAAK DIRECT EEN AFSPRAAK</a>
    </p>
  </div>
</div>
<div class="section section--alternative section--secondary">
  <div class="container">
    <div class="row">
      <div class="col col-md-7 col-sm-4">
        <h2>ZoOpgelost pakketten</h2>
        <p class="section__text">
          Om een klus te boeken via ZoOpgelost, maakt u een account aan. Zo kunt u voortaan eenvoudig uw klussen inplannen. Bent u klant van Essent? Dan kunt u ook kiezen voor het Premium pakket. Hiernaast staan alle voordelen op een rijtje.
        </p>
      </div>
      <div class="col col-md-8 col-sm-4">
        <%- partial('components/subscription') %>
      </div>
    </div>
  </div>
</div>

