<% layout('layouts/default') %>

<div class="container" style="display: flex; flex-direction: row; justify-content: space-between;">
  <div style="width: 70%;">
    <%- partial('partials/job-list') %>
  </div>
  <div style="width: 30%;">
    <%- partial('partials/contact-tile') %>
  </div>
</div>
