<% layout('layouts/default') %>

<div class="section section--header">
  <div class="container">
    <div class="row">
      <div class="column column__content">
        <h1>Ons klusaanbod</h1>
        <p>
          Onze ervaren experts zijn zorgvuldig geselecteerd, hieronder zie je waarvoor je ze onder andere kunt boeken. Spoedgevallen en calamiteiten vallen niet onder deze reguliere klussen. Lees meerover het <a href="#" class="link">inplannen van spoedklussen</a> of bel 0800 - 123 123
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row row--content">
      <div class="column column__content">
        <%- partial('partials/job-overview', {categories}) %>
      </div>
      <div class="column column__sidebar">
        <%- partial('partials/contact-tile') %>
      </div>
    </div>
  </div>
</div>
