<% layout('layouts/default') %>

<div class="section section--header">

</div>

<div class="section">
  <div class="container">
    <div class="row row--content">
      <div class="column column__content">
        <%- partial('partials/job-list') %>
      </div>
      <div class="column column__sidebar">
        <%- partial('partials/contact-tile') %>
      </div>
    </div>
  </div>
</div>
