<% layout('layouts/default') %>

<div class="section section--header section--header-circles">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-5 col-6">
        <h1>
          ZoOpgelost pakketten
        </h1>
        <p>
          Om een klus te boeken via ZoOpgelost, maakt u een account aan. Zo kunt u voortaan eenvoudig uw klussen inplannen. Bent u klant van Essent? Dan kunt u ook kiezen voor het Premium pakket. Hiernaast staan alle voordelen op een rijtje.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section section--alternative section--paketten">
  <div class="container">
    <div class="row row--centered">
      <div class="col-xl-6 col-lg-8 col-md-8 col-sm-4">
        <%- partial('components/subscription') %>
        <div class="button-bar button-bar--centered">
          <a href="/account/inschrijven" class="btn">SCHRIJF JE IN EN KIES ABONNEMENT</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section--img-container">
  <div class="section--image section--image-subscription"></div>
</div>

<div class="section section--secondary">
  <div class="container">
    <h2>Dit is ZoOpgelost</h2>
    <div class="row row--secondary">
      <div class="col-6 col-md-4 col-sm-4">
        <p>
          Thuis is waar je jezelf op je gemak voelt, maar  soms gaat  er wel eens wat mis.
          Of je hebt gewoon een klusje waar je zelf maar niet aan toe komt. ZoOpgelost van
          Essent staat met een team van experts  direct voor je klaar met een supersnelle
          oplossing. <strong>Spoed? Bel 0800 - 123 123</strong>
        </p>
        <a href="/funnel" class="btn">Afspraak maken</a>
      </div>
      <div class="col-offset-lg-1 col-offset-xl-1 col-5 col-md-4 col-sm-4">
          <ul class="list list--check">
            <li>Altijd een betrouwbare expert</li>
            <li>Eerlijk en marktconforme prijs</li>
            <li>Garantie op de uitvoering</li>
          </ul>
      </div>
    </div>
  </div>
</div>
