<% layout('layouts/default') %>

<div class="section section--header header">
  <div class="container">
    <div class="row">
      <div class="column column__content--header">
        <h1>
          Onze abonnementen
        </h1>
        <p>
          Voor iedereen is er een basispakket, waarmee je iedere soort
          reguliereklus kunt inplannen. Voor Essent klanten is er bovendien een
          Premium pakket met onder andere korting en kunnen
          inplannen van spoedklussen.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row row--centered">
      <div class="column column__content--narrow">
        <%- partial('components/subscription') %>
        <div class="button-bar button-bar--centered">
          <a href="#" class="btn">SCHRIJF JE IN EN KIES ABONNEMENT</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2>Dit is ZoOpgelost</h2>
    <div class="row">
      <div class="column column__content--narrow">
        <p>
          Thuis is waar je jezelf op je gemak voelt, maar  soms gaat  er wel eens wat mis.
          Of je hebt gewoon een klusje waar je zelf maar niet aan toe komt. ZoOpgelost van
          Essent staat met een team van experts  direct voor je klaar met een supersnelle
          oplossing. <strong>Spoed? Bel 0800 - 123 123</strong>
        </p>
      </div>
      <div class="column column__sidebar">
          <ul class="list list--check">
            <li>Altijd een betrouwbare expert</li>
            <li>Eerlijk en marktconforme prijs</li>
            <li>Garantie op de uitvoering</li>
          </ul>
      </div>
    </div>
  </div>
</div>
