<% layout('layouts/default') %>

<div class="section section--header header">
  <div class="container">
    <div class="row">
      <div class="column column__content">
        <h1>
          Spoedgevallen
        </h1>
        <p>
          Bij sommige situaties moet er snel worden ingegrepen.
          Je kunt ons dag en nacht bellen voor dit soort spoedgevallen.
          Er is vervolgens service binnen een uur. Spoedgevallen zijn er alleen
          voor abonnees met een Premium-pakket. Bij spoed kun je
          vervolgens bellen met <a class="subscription-intro__phone-number">0800 1234 1234</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div>

      </div>
    </div>
  </div>
</div>
