<ul class="breadcrumbs">
  <% ['Kies een klus','Maak een afspraak','Persoonsgegevens','Klaar'].forEach((text, index) => { %>
    <li class="breadcrumbs__item <%- currentStep == (index + 1) ? 'is-active' : '' %>">
      <a href="#" class="breadcrumbs__link"><%- index + 1 %>. <span class="breadcrumbs__text"><%= text %></span></a>
    </li>
  <% }) %>
</ul>
