$col-orange: #ff7400;
$col-orange-dark: #7F3A01;
$col-pink: #e60167;
$col-red: #D0011B;
$col-blue: #48a9c2;
$col-green: #7ED321;
$col-yellow: #FFC900;


$col-black: #000000;
$col-white: #ffffff;

$col-grey: #afafaf;
$col-grey-light: #d2d2d2;
$col-grey-lighter: #F7F7F7;
