$col-orange: #ff7400;
$col-pink: #e60167;
$col-red: #aa014c;
$col-blue: #48a9c2;


$col-black: #000000;
$col-white: #ffffff;

$col-grey: #afafaf;
$col-grey-lighter: #d2d2d2;
$col-grey-light: #f0f1f2;
