//general



a {
  text-decoration: none;
}

.text {

  &-bold {
    font-weight: 700;
  }
  &-color {
    color: $col-orange;
  }
}

h2 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 300;
}


.btn {
  display: block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  border-width: 0 0 2px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-color: $col-orange;
  background-color: $col-orange;
  color: $col-white;
  text-transform: uppercase;
  &:hover {
    background: $col-orange;
    border-width: 1px 0;
  }
  &--secondary {
    background-color: $col-white;
    color: $col-orange;
  }
  &--cancel {
    background-color: red;
    border-color: red;
    &:hover {
      background: $col-red;
    }
  }
  &--modal {
    width: 100%;
    border-color: black;
    border-width: 0 0 2px;
    cursor: pointer;
    &-ribbon {
      border: 0;
      border-radius: 0;
      &:hover {
        border-width: 0;
      }
    }
  }
  &--header-mobile {
    height: 30px;
    padding: 8px 10px;
  }

}



.row {
  display: flex;
  justify-content: space-between;
}

.column {
  &__content {
    width: (100%/12)*7;
    border: 1px solid green;

  }
  &__sidebar {
    width: (100%/12)*4;
    border: 1px solid red;
  }
}

.filter-list {
  margin: 20px 0;
  &__item {
    display: inline-block;
    padding: 5px 10px 5px 0;
  }
  &__btn {
    border: 1px solid $col-orange;
    color: $col-orange;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 16px;
    display: block;
    &:hover {
      background-color: $col-orange;
      color: $col-white;
    }
  }
}

.search-results {

}


.funnel-search__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 10px;
  content: '';
  background: url(../images/search.svg) no-repeat center;
}

.bottom-info {
  line-height: 26px;
}
@media #{$tablet} {


}

@media #{$mobile} {

  .btn--header-mobile {
    height: 30px;
    padding: 0px 10px;
    line-height: 30px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .column {
    &__content {
      width: 100%;
      border: 1px solid green;

    }
    &__sidebar {
      width: 100%;
      border: 1px solid red;
    }
  }

  .bottom-info {
    font-size: 14px;
    line-height: 24px;
  }


}




html, body
{
  height: 100%;
  min-height: 100%;
}

body
{
  display: flex;
  flex-direction: column;
}
.site-body
{
  flex: 1;
}
