.search-results {
    margin: 30px 0;
}

.bottom-info {
  line-height: 26px;
  margin: 55px 0;
}

.list-overview {
  border: 1px solid $col-grey;
  padding: 20px;
  margin: 30px 0;
  &.is-hidden
  {
    display: none;
  }
  &__details {
    font-weight: 300;
    line-height: 26px;
    font-size: 16px;
    padding: 20px 0;
  }
  &__list {
    border-top: 1px solid $col-grey;
    margin-top: 20px;
    padding-top: 20px;
  }
  &__item {
    display: inline;
    font-weight: 400;
    &:after {
      padding: 8px;
      color: $col-orange;
      content: "\003e";
    }
    &--feedback {

    }
    &.is-active ~ &{
      font-weight: 300;
    }
  }
  &__link {
    color: $col-orange;
  }

}

@media #{$tablet} {
  .content__row {

    &-col {
      &1 {
        order: 1;
        flex-basis: 100%;
      }
      &2 {
        order: 3;
      }
      &3 {
        order: 2;
        flex-basis: auto;
      }
    }
  }

}

@media #{$mobile} {

  .btn--header-mobile {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
  }


  .bottom-info {
    font-size: 14px;
    line-height: 24px;
    margin: 35px 0;
  }


  .content__row {

    &-col {
      &1 {
        order: 1;
        flex-basis: 100%;
      }
      &2 {
        order: 3;
      }
      &3 {
        order: 2;
        flex-basis: auto;
      }
    }
  }

  .tools {
    top: -200px;
    width: calc(100% - 32px);
    height: auto;
    bottom: 110px;
    margin: 0 16px;
    box-sizing: border-box;
    z-index: -1;
  }


  .container--tools {
    padding-top: 200px;
  }


  .list-overview {

    &__details {

    }
    &__list {

    }
    &__item {
      display: inline-block;

    }
    &__link {
      color: $col-orange;
    }

  }
}


