<% layout('layouts/default') %>
<div class="section section--alternative">
  <div class="container">

    <h1>Activeer je account</h1>

    <div class="row">
      <div class="col-xl-7 col-lg-6 col-md-5 col-sm-4">

        <div class="section__text">
          <p>We hebben een bevestigings-e-mail gestuurd naar “john@mail.com”.</p>
          <p>Volg de instructies in die e-mail om je account te activeren.</p>
        </div>

        <a href="/" class="btn btn--block">TERUG NAAR HOMEPAGE</a>

      </div>
      <div class="col-offset-xl-1 col-xl-4 col-offset-lg-2 col-lg-4 col-md-3 col-sm-4">
        <%- partial('partials/funnel/sidebar/promotion') %>
      </div>
    </div>
  </div>
</div>

