<% layout('layouts/default') %>
<div class="section section--alternative">
  <div class="container">

    <h1 class="page-title">Begin maar met plannen...</h1>

    <div class="row">
      <div class="col-xl-7 col-lg-6 col-md-5 col-sm-4">

        <div class="section__text">
          <p>
            Uw <a href="/funnel" class="link">account</a> is klaar voor gebruik, dus u kunt uw klus gaan inplannen.
          </p>
        </div>

        <a href="/funnel" class="btn btn--block">Klus plannen</a>

      </div>
      <div class="col-offset-xl-1 col-xl-4 col-offset-lg-2 col-lg-4 col-md-3 col-sm-4">
        <div class="sidebar">
          <div class="sidebar__content">
            <%- partial('partials/account/sidebar/promotion') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
