<% layout('layouts/default') %>
<div class="section section--alternative">
  <div class="container">

    <h1>Activeer uw account</h1>

    <div class="row">
      <div class="col-xl-7 col-lg-6 col-md-5 col-sm-4">

        <div class="section__text">
          <p>
            We hebben u een e-mail gestuurd, daarin staat precies hoe u uw account kunt activeren.
          </p>
        </div>

        <a href="/" class="btn btn--block">TERUG NAAR HOMEPAGE</a>

      </div>
      <div class="col-offset-xl-1 col-xl-4 col-offset-lg-2 col-lg-4 col-md-3 col-sm-4">
        <div class="sidebar">
          <div class="sidebar__content">
            <%- partial('partials/account/sidebar/promotion') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

