<% layout('layouts/default') %>
<form action="/account/inschrijven/voltooid" method="post" class="form form--account-create">
  <div class="section">
    <div class="container">
      <h1 class="page-title">Account aanmaken</h1>
      <div class="row">
        <div class="col-6 col-md-5 col-sm-4">

          <div class="row form__row">
            <div class="form__col col-6 col-md-4 col-sm-4">
              <div class="form__group">
                <label for="FirstName" class="form__label">Voornaam</label>
                <input type="text" name="FirstName" class="form__control" placeholder="voornaam"/>
              </div>
            </div>
            <div class="form__col col-6 col-md-4 col-sm-4">
              <div class="form__group">
                <label for="LastName" class="form__label">Achternaam</label>
                <input type="text" class="form__control" name="LastName" placeholder="achternaam"/>
              </div>
            </div>
          </div>

          <div class="row form__row">
            <div class="form__col col-12 col-md-8 col-sm-4">
              <div class="form__group">
                <label for="email" class="form__label">E-mailadres</label>
                <input type="email" name="email" class="form__control" placeholder="e-mailadres" />
              </div>
            </div>
          </div>
          <div class="row form__row">
            <div class="form__col col-6 col-md-4 col-sm-4">
              <div class="form__group">
                <label for="mobilenumber" class="form__label">Telefoonnummer</label>
                <input type="tel" class="form__control" name="phonenumber" placeholder="" />
              </div>
            </div>
          </div>

          <div class="row form__row">
            <div class="form__col col-6 col-md-4 col-sm-4">
              <div class="form__group">
                <label for="PostCode" class="form__label">Postcode</label>
                <input type="text" class="form__control" name="PostCode" placeholder="Bijv. 1234AB" />
              </div>
            </div>
            <div class="form__col col-6 col-md-4 col-sm-4">
              <div class="form__group">
                <label for="HouseNumber" class="form__label">Huisnummer + toevoeging</label>

                <div class="row form__row">
                  <div class="form__col col-6 col-md-4 col-sm-2">
                    <input type="number" class="form__control" name="HouseNumber" placeholder="" />
                  </div>
                  <div class="form__col col-6 col-md-4 col-sm-2">
                    <input type="text" name="Addition" class="form__control" placeholder=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row form__row">
            <div class="form__col col-6 col-md-4 col-sm-4">
              <div class="form__group">

                <label for="NewPassword" class="form__label">Wachtwoord</label>
                <input type="password" class="form__control" name="NewPassword" placeholder="&middot;&middot;&middot;&middot;&middot;&middot;" />
              </div>
            </div>
            <div class="form__col col-6 col-md-4 col-sm-4">
              <div class="form__group">
                <label for="ConfirmPassword" class="form__label">Controle</label>
                <input type="password" class="form__control" name="ConfirmPassword" placeholder="&middot;&middot;&middot;&middot;&middot;&middot;" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-xl-4 col-offset-lg-2 col-offset-xl-2 col-md-3 hidden-sm-down">
          <div class="sidebar">
            <div class="sidebar__content">
              <%- partial('partials/funnel/sidebar/promotion') %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section section--alternative">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-6 col-sm-4">
          <h2 class="section-title">Kies je abonnement</h2>
          <%- partial('components/subscription', {HasSubscription: HasSubscription}) %>

          <input type="checkbox" name="HasSubscription" id="HasSubscription" style="display: none;" />

          <div class="form__group" data-if-checked="#HasSubscription">
            <input type="checkbox" name="IsCustomer" />
            <label for="incasseren">Ik ben Essent-klant en machtig Essent om, na de proefperiode van 12 maanden, te
              incasseren:</label>
          </div>
          <div class="form__group" data-if-checked="#HasSubscription">
            <label for="iban" class="form__label">IBAN (rekeningnummer)</label>
            <input type="text" class="form__control" name="IBAN" placeholder="NL 99 BANK 0123 4567 89"/>
          </div>
          <div class="form__group">
            <input type="checkbox" name="HasConfirmed"/>
            <label for="HasConfirmed">Ik ga akkoord met <a href="" class="link"> de algemene voorwaarden</a></label>
          </div>
          <div class="form__buttons">
            <button type="submit" class="btn js-btn-submit form__button--submit">bevestigen</button>
          </div>
        </div>
        <div class="col-sm-4 hidden-md-up">
          <div class="sidebar">
            <div class="sidebar__content">
              <%- partial('partials/funnel/sidebar/promotion') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

